%p Если Вы забыли свой пароль, введите в поле email, соответствующий Вашему аккаунту на нашем сайте. И мы вышлем Вам инструкции по смене пароля.

= form_tag forget_password_path, :method => :post do
  = text_field_tag :email
  = submit_tag "Сбросить пароль"