=form_tag reset_password_url, :method => :post, :html => { :class => 'form-horizontal' } do 
  = label_tag "Новый пароль"
  %div#pass3.changepass{:onclick => "toggleType('pass3', 'password')"} показать пароль
  = password_field_tag :password, "", :autocomplete => :off
  = submit_tag "Сохранить"