.comment{id: dom_id(comment)}
  =render partial: "shared/votes", locals: { object_to_vote: comment, nested_path: "reviews/#{comment.id}/" }
  .comment_body= comment.body
  %p= link_to 'Ответить', new_review_comment_path(@review, parent_id: comment.id)
