%p Здравствуйте!
%p Вам было отправлено это письмо в связи с тем, что при сбросе пароля был указан Ваш email. Пожалуйста, пройдите по ссылке ниже и смените пароль.
= link_to "перейдите по этой ссылке", reset_password_url(:token => @recipient.perishable_token)
%br
= link_to "ссылка на сайт", root_url
