Подтверждение регистрации

= @recipient.email 
Благодарим за регистрацию.

Вам остается только активировать ваш аккаунт, для этого 
= link_to "перейдите по этой ссылке", activate_user_url(:token => @recipient.perishable_token)