= simple_form_for(@complaint_models) do |f|
  = f.error_notification

  .form-inputs
    = f.input :content, label: 'Пожалуйста, укажите причину жалобы.'
  .form-actions
    = f.button :submit, 'Отправить жалобу'
