-### TODO: this is useless view. It's used only only for testing

.landmark 
  .leaflet-wide{id: "map"}

%h1 Listing landmarks

%table
  - @landmarks.each do |landmark|
    %tr
      %td
        %strong= landmark
%br

%script
  $(window).load(function(){ landmark();})