.agu-search.ui-front
  %span.agu-search__input-wrap
    %input.agu-search__input(type="text" placeholder="Область, район, место")
  %button.agu-search__button.button.button_standard.button_grey
    %span.button__inner.button_standard__inner
      %span.button__text.button_standard__text{data: { text: 'Найти' }}
