.smorodina-item__geo
  %span.icon.icon-marker.smorodina-item__geo__icon
  %ul.smorodina-item__geo__list
    - tree.each do |key, value|
      %li
        %a.tdn-link{ href: "/places/show/#{key}" }
          = value
