.objects-map__outer
  .objects-map__hint
    .objects-map__hint-arrow
  .objects-map__inner
    .objects-map__border.objects-map__border--top
    .objects-map__border.objects-map__border--bottom
    .objects-map__border.objects-map__border--left
    .objects-map__border.objects-map__border--right
    .objects-map__content