/ AddThis Button BEGIN
%div.addthis_toolbox.addthis_default_style.addthis_16x16_style
  %a.addthis_button_vk
  %a.addthis_button_facebook
  %a.addthis_button_twitter
  %a.addthis_button_google_plusone_share
  %a.addthis_button_moikrug
  %a.addthis_button_mymailru
  %a.addthis_button_odnoklassniki_ru
/ AddThis Button END
