- html_content ||= ''
- level ||= 0

- tag_tree.each do |key, data_hash|
  - if level == 0
    - html_content = ''

  - html_content += content_tag :li, link_to(" #{key} ", search_geo_objects_path(tag_name: key), class: 'tdn-link')
  - if data_hash.blank?
    .smorodina-item__tags
      %span.icon.icon-tags.smorodina-item__tags__icon
      = content_tag :ul, html_content.html_safe, class: 'smorodina-item__tags__list'
  - else
    = render partial: 'shared/tag_list', locals: {tag_tree: data_hash, html_content: html_content, level: level + 1}
