=render "shared/link_to_vote", instance: object_to_vote, sign: :up,                 |
            voting_path: nested_path ||= nil , tag: tag ||= nil                     |
(
%span.up-vote= object_to_vote.votes_for(tag.blank? ? nil : tag)
)
|
=render "shared/link_to_vote", instance: object_to_vote, sign: :down,               |
            voting_path: nested_path ||= nil , tag: tag ||= nil                     |
(
%span.down-vote= object_to_vote.votes_against(tag.blank? ? nil : tag)
)
- unless current_user.nil?
  =link_to_unvote object_to_vote, nested_path ||= nil, tag ||= nil
