=render "shared/link_to_vote",css_id: dom_id(object_to_vote, :up), controller: nested_path ||= '' , tag: tag ||= ''
(
%span.up-vote= object_to_vote.votes_for(tag.blank? ? nil : tag)
)
|
=render "shared/link_to_vote",css_id: dom_id(object_to_vote, :down), controller: nested_path ||= '' , tag: tag ||= ''
(
%span.down-vote= object_to_vote.votes_against(tag.blank? ? nil : tag)
)
- unless current_user.nil?
  =link_to_unvote dom_id(object_to_vote), nested_path ||= '', tag ||= ''
