.pic_vote.pic_vote_positive
  .pic_vote__up
    = link_to "", "#", {class: "icon-thumbs-up ui-link"}
  .pic_vote__count
    80
  .pic_vote__down
    = link_to "", "#", {class: "icon-thumbs-down ui-link"}
  .pic_vote__spam
    = link_to "", "#", {class: "icon-flag ui-link"}
