.location-selector
  .location-selector__map__outer
    .location-selector__map__inner
      .location-selector__map__content

= render 'layouts/footer'

%script
  new Smorodina.Views.LocationSelector({ el: $('.location-selector') });