%div.about
  %div.row-fluid
    %div.span3.about__contacts
      %div.about__contacts__inner
        %h2.about__contacts__title
          Контактная информация
        %div.about__contacts__common
          %div.about__contacts__common__item
            %div.about__contacts__common__item__title
              Позвонить
            %div.about__contacts__common__item__content
              +7 (812) 980-80-68
          %div.about__contacts__common__item
            %div.about__contacts__common__item__title
              Отправить факс
            %div.about__contacts__common__item__content
              +7 (812) 662-38-57
          %div.about__contacts__common__item
            %div.about__contacts__common__item__title
              Написать письмо
            %div.about__contacts__common__item__content
              %a{ href: 'mailto:info@smorodina.ru' }
                info@smorodina.ru
        %div.about__contacts__personal
          %div.about__contacts__personal__photo
            %img{ src: '/assets/tmp/contact-photo.png' }
          %div.about__contacts__personal__position
            Менеджер проекта
          %div.about__contacts__personal__name
            Имя Фамилия
          %div.about__contacts__personal__phone
            +7 (812) 980-80-68
          %div.about__contacts__personal__email
            %a{ href: 'mailto:advert-info-me@smorodina.ru' }
              advert-info-me@smorodina.ru
        %div.about__contacts__personal
          %div.about__contacts__personal__photo
            %img{ src: '/assets/tmp/contact-photo.png' }
          %div.about__contacts__personal__position
            Менеджер проекта
          %div.about__contacts__personal__name
            Имя Фамилия
          %div.about__contacts__personal__phone
            +7 (812) 980-80-68
          %div.about__contacts__personal__email
            %a{ href: 'mailto:advert-info-me@smorodina.ru' }
              advert-info-me@smorodina.ru
        %div.about__contacts__personal
          %div.about__contacts__personal__photo
            %img{ src: '/assets/tmp/contact-photo.png' }
          %div.about__contacts__personal__position
            Менеджер проекта
          %div.about__contacts__personal__name
            Имя Фамилия
          %div.about__contacts__personal__phone
            +7 (812) 980-80-68
          %div.about__contacts__personal__email
            %a{ href: 'mailto:advert-info-me@smorodina.ru' }
              advert-info-me@smorodina.ru

    %div.span9.about__description
      %div.about__description__content
        %h1
          О Смородине
        %p
          Мы привыкли путешествовать по всему миру, отлично знаем турецкое побережье и греческие острова,
          курорты заснеженных Альп и улочки старой Праги. Но, как оказалось, совершенно не знаем собственной
          страны и практически не путешествуем по ее просторам. Есть миф, что американцы ничего не знают
          дальше порога собственного дома, но есть сухие цифры, без прикрас. Например, только система
          национальных парков США в год принимает более 270 000 000 посетителей. А вспомните, когда вы
          последний раз ездили с детьми в соседний заповедник или национальный парк? Ведь для этого даже
          не нужно лететь на самолете, нужно просто знать, что совсем рядом есть уникальное место,
          но вы за последние годы ни разу туда не наведывались.
        %p
          Наша страна —  это огромный мир интереснейших мест, и задача проекта Смородина рассказать
          всем о том, что знаем мы и помочь рассказать вам о том, что знаете вы. В интернете можно
          найти много информации, но порой сложно разобраться в ее качестве, в ее достоверности.
          Как поверить, что рекомендация — не рекламного характера и заслуживает внимания.
        %p
          Главная идея Смородины в том, что информацией ее наполняют обычные люди, для которых это
          не способ заработать деньги, а возможность поделиться знаниями о родной стране. Нам
          интересно все — от вулкана на Камчатке до неприметной, но красивой деревни в соседнем лесу.
          А мы придаем этой информации удобную форму, даем возможность искать все самое интересное
          о стране. А удобная система оценок и рейтингов будет подсказывать вам темы, которые уже
          заинтересовали ваших друзей.

        %div.about__mobile-apps
          %h2.about__mobile-apps__title
            Мобильное приложение
          %a.about__mobile-apps__link{ href: '#' }
            %img{ src: '/assets/google-play.png' }
          %a.about__mobile-apps__link{ href: '#' }
            %img{ src: '/assets/app-store.png' }

        %div.about__vacancy
          %h2.about__vacancy__title
            Работа у нас
          %p.about__vacancy__description
            Органический мир, при том, что королевские полномочия находятся в руках исполнительной власти -
            кабинета министров, применяет праздник франко-говорящего культурного сообщества, и не надо забывать,
            что время здесь отстает от московского на 2 часа.
          %div.about__vacancy__item
            %div.about__vacancy__item__title
              %span.action-link{ data: { toggle: 'collapse', target: '#vacancy1' }}
                JavaScript - разработчик
            %div#vacancy1.collapse
              %div.about__vacancy__item__content
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                heard of them accusamus labore sustainable VHS.
          %div.about__vacancy__item
            %div.about__vacancy__item__title
              %span.action-link{ data: { toggle: 'collapse', target: '#vacancy2' }}
                Web - дизайнер
            %div#vacancy2.collapse
              %div.about__vacancy__item__content
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                heard of them accusamus labore sustainable VHS.
          %div.about__vacancy__item
            %div.about__vacancy__item__title
              %span.action-link{ data: { toggle: 'collapse', target: '#vacancy3' }}
                Инженер техподдержки / Helpdesk Engineer
            %div#vacancy3.collapse
              %div.about__vacancy__item__content
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                heard of them accusamus labore sustainable VHS.

= render 'layouts/footer'
