= render 'layouts/main_search', { how_to_search: true }
%div#notice= notice

%div#searchFilter.search-filter
  %div.search-filter__inner
    %span.search-filter__categories
      %button.search-filter__category.search-filter__category_sightseeing{ data: { facet: 'sightseeing' } }
        %span.icon-binoculars.search-filter__category__icon.search-filter__category__icon_binoculars
        %span.search-filter__category__text
          Что посмотреть
      %button.search-filter__category.search-filter__category_activities{ data: { facet: 'activities' } }
        %span.icon-star.search-filter__category__icon.search-filter__category__icon_star
        %span.search-filter__category__text
          Чем заняться
      %button.search-filter__category.search-filter__category_food{ data: { facet: 'food' } }
        %span.icon-food-eat.search-filter__category__icon.search-filter__category__icon_food-eat
        %span.search-filter__category__text
          Где поесть
      %button.search-filter__category.search-filter__category_lodging{ data: { facet: 'lodging' } }
        %span.icon-bed.search-filter__category__icon.search-filter__category__icon_bed
        %span.search-filter__category__text
          Где заночевать
    %span.search-filter__switcher__outer
      %span.search-filter__switcher
        %span.search-filter__switcher__inner
          %span.search-filter__switcher__text.search-filter__switcher__text_off
            Выкл
          %span.search-filter__switcher__text.search-filter__switcher__text_on
            Вкл
        %span.search-filter__switcher__button
    %div.search-filter__second-level
      Второй уровень

%div.map__outer
  %div.map__inner
    %div#map.map
= render "layouts/footer"

%h1.page-title.page-title_centered
  Хроника смородины

%div.chronicle

  %form.chronicle__search
    %div.chronicle__search__field
      %label.chronicle__search__field__label{ for: "chronicleSearchType" }
        Показывать
      %span
        %select#chronicleSearchType.input-medium
          %option
            Все записи
    %div.chronicle__search__field
      %label.chronicle__search__field__label{ for: "chronicleSearchPlace" }
        Где?
      %span
        %input#chronicleSearchPlace.input_standard.input-xlarge.chronicle__search__field__input{ type: 'text',
        placeholder: "Область, район, место"}

  %div.chronicle__section
    %div.chronicle__section__header
      %b
        Четверг, 11 октября 2013 г.
    %div.chronicle__section__content
      %div.row-fluid.chronicle__section__row
        %div.span6.smorodina-item
          %div.smorodina-item__img
            %div.smorodina-item__img__inner
              %image{ src: "/assets/tmp/130x90.gif", alt: "Фото", width: 130, height: 90 }
          %div.smorodina-item__content
            %div.smorodina-item__title
              %a{href: "#1"}
                %b
                  Клуб рыболовов «Голубая устрица»

            %div.smorodina-item__geo
              %span.icon.icon-marker.smorodina-item__geo__icon
              %ul.smorodina-item__geo__list
                %li
                  %a.tdn-link{ href: "#2" }
                    Полный
                %li
                  %a.tdn-link{ href: "#3" }
                    Географический
                %li
                  %a.tdn-link{ href: "#4" }
                    Идентификатор
            %div.smorodina-item__tags
              %span.icon.icon-tags.smorodina-item__tags__icon
              %ul.smorodina-item__tags__list
                %li
                  %a.tdn-link{ href: "#5" }
                    Активный отдых
                %li
                  %a.tdn-link{ href: "#6" }
                    На воде
                %li
                  %a.tdn-link{ href: "#7" }
                    Рыбалка

            %div.smorodina-item__user
              %span.smorodina-item__user__text
                Добавил:
              %span.user-link
                %a.tdn-link{ href: "#8" }
                  Профиль
                  %span.icon.icon-user.user-link__icon
        %div.span6.smorodina-item
          %div.smorodina-item__img
            %div.smorodina-item__img__inner
              %image{ src: "/assets/tmp/130x90.gif", alt: "Фото", width: 130, height: 90 }
          %div.smorodina-item__content
            %div.smorodina-item__title
              %a{href: "#40"}
                %b
                  Клуб рыболовов «Голубая устрица»

            %div.smorodina-item__geo
              %span.icon.icon-marker.smorodina-item__geo__icon
              %ul.smorodina-item__geo__list
                %li
                  %a.tdn-link{ href: "#2" }
                    Полный
                %li
                  %a.tdn-link{ href: "#3" }
                    Географический
                %li
                  %a.tdn-link{ href: "#4" }
                    Идентификатор
            %div.smorodina-item__tags
              %span.icon.icon-tags.smorodina-item__tags__icon
              %ul.smorodina-item__tags__list
                %li
                  %a.tdn-link{ href: "#5" }
                    Активный отдых
                %li
                  %a.tdn-link{ href: "#6" }
                    На воде
                %li
                  %a.tdn-link{ href: "#7" }
                    Рыбалка

            %div.smorodina-item__user
              %span.smorodina-item__user__text
                Добавил:
              %span.user-link
                %a.tdn-link{ href: "#15" }
                  Профиль
                  %span.icon.icon-user.user-link__icon

      %div.row-fluid.chronicle__section__row
        %div.span6.smorodina-item
          %div.smorodina-item__img
            %div.smorodina-item__img__inner
              %image{ src: "/assets/tmp/130x90.gif", alt: "Фото", width: 130, height: 90 }
          %div.smorodina-item__content
            %div.smorodina-item__title
              %a{href: "#16"}
                %b
                  Клуб рыболовов «Голубая устрица»

            %div.smorodina-item__geo
              %span.icon.icon-marker.smorodina-item__geo__icon
              %ul.smorodina-item__geo__list
                %li
                  %a.tdn-link{ href: "#2" }
                    Полный
                %li
                  %a.tdn-link{ href: "#3" }
                    Географический
                %li
                  %a.tdn-link{ href: "#4" }
                    Идентификатор
            %div.smorodina-item__tags
              %span.icon.icon-tags.smorodina-item__tags__icon
              %ul.smorodina-item__tags__list
                %li
                  %a.tdn-link{ href: "#5" }
                    Активный отдых
                %li
                  %a.tdn-link{ href: "#6" }
                    На воде
                %li
                  %a.tdn-link{ href: "#7" }
                    Рыбалка

            %div.smorodina-item__user
              %span.smorodina-item__user__text
                Добавил:
              %span.user-link
                %a.tdn-link{ href: "#23" }
                  Профиль
                  %span.icon.icon-user.user-link__icon

  %div.chronicle__section
    %div.chronicle__section__header
      %b
        Четверг, 11 октября 2013 г.
    %div.chronicle__section__content
      %div.row-fluid.chronicle__section__row
        %div.span6.smorodina-item
          %div.smorodina-item__img
            %div.smorodina-item__img__inner
              %image{ src: "/assets/tmp/130x90.gif", alt: "Фото", width: 130, height: 90 }
          %div.smorodina-item__content
            %div.smorodina-item__title
              %a{href: "#39"}
                %b
                  Клуб рыболовов «Голубая устрица»

            %div.smorodina-item__geo
              %span.icon.icon-marker.smorodina-item__geo__icon
              %ul.smorodina-item__geo__list
                %li
                  %a.tdn-link{ href: "#2" }
                    Полный
                %li
                  %a.tdn-link{ href: "#3" }
                    Географический
                %li
                  %a.tdn-link{ href: "#4" }
                    Идентификатор
            %div.smorodina-item__tags
              %span.icon.icon-tags.smorodina-item__tags__icon
              %ul.smorodina-item__tags__list
                %li
                  %a.tdn-link{ href: "#5" }
                    Активный отдых
                %li
                  %a.tdn-link{ href: "#6" }
                    На воде
                %li
                  %a.tdn-link{ href: "#7" }
                    Рыбалка


            %div.smorodina-item__user
              %span.smorodina-item__user__text
                Добавил:
              %span.user-link
                %a.tdn-link{ href: "#30" }
                  Профиль
                  %span.icon.icon-user.user-link__icon
        %div.span6.smorodina-item
          %div.smorodina-item__img
            %div.smorodina-item__img__inner
              %image{ src: "/assets/tmp/130x90.gif", alt: "Фото", width: 130, height: 90 }
          %div.smorodina-item__content
            %div.smorodina-item__title
              %a{href: "#31"}
                %b
                  Клуб рыболовов «Голубая устрица»

            %div.smorodina-item__geo
              %span.icon.icon-marker.smorodina-item__geo__icon
              %ul.smorodina-item__geo__list
                %li
                  %a.tdn-link{ href: "#2" }
                    Полный
                %li
                  %a.tdn-link{ href: "#3" }
                    Географический
                %li
                  %a.tdn-link{ href: "#4" }
                    Идентификатор
            %div.smorodina-item__tags
              %span.icon.icon-tags.smorodina-item__tags__icon
              %ul.smorodina-item__tags__list
                %li
                  %a.tdn-link{ href: "#5" }
                    Активный отдых
                %li
                  %a.tdn-link{ href: "#6" }
                    На воде
                %li
                  %a.tdn-link{ href: "#7" }
                    Рыбалка

            %div.smorodina-item__user
              %span.smorodina-item__user__text
                Добавил:
              %span.user-link
                %a.tdn-link{ href: "#38" }
                  Профиль
                  %span.icon.icon-user.user-link__icon

  = render 'layouts/fetch'
