%div#notice= notice

%div.search-filter
  %div.search-filter__inner
%div.map__outer
  %div.map__inner
    %div#map.map
= render "layouts/footer"

%h1.page-header.page-header__centered
  Хроника смородины

%div.chronicle
  %div.chronicle__search
    %span.chronicle__search__field
      %label.chronicle__search__field__label{ for: "chronicleSearchType" }
        Показывать
      %select#chronicleSearchType.chronicle__search__field__select
        %option
          Все записи
    %span.chronicle__search__field
      %label.chronicle__search__field__label{ for: "chronicleSearchPlace" }
        Где?
      %input#chronicleSearchPlace.chronicle__search__field__input{ type: "text", placeholder: "Тип населенного пункта" }

  %div.chronicle__section
    %div.chronicle__section__header
      %b
        Четверг, 11 октября 2013 г.
    %div.chronicle__section__content
      %div.row-fluid.chronicle__section__row
        %div.span6.smorodina-item
          %div.smorodina-item__img
            %div.smorodina-item__img__inner
              %image{ src: "/assets/tmp/130x90.gif", alt: "Фото", width: 130, height: 90 }
          %div.smorodina-item__content
            %div.smorodina-item__title
              %a{href: "#"}
                %b
                  Клуб рыболовов «Голубая устрица»
            %div.smorodina-item__geo
              %span.icon.icon-marker.smorodina-item__geo__icon
              %span.smorodina-item__geo__list
                %a.tdn-link{ href: "#" }
                  Полный
                %a.tdn-link{ href: "#" }
                  Географический
                %a.tdn-link{ href: "#" }
                  Идентификатор
            %div.smorodina-item__tags
              %span.icon.icon-tags.smorodina-item__tags__icon
              %span.smorodina-item__tags__list
                %a.tdn-link{ href: "#" }
                  Активный отдых
                %a.tdn-link{ href: "#" }
                  На воде
                %a.tdn-link{ href: "#" }
                  Рыбалка

            %div.smorodina-item__user
              %span.smorodina-item__user__text
                Добавил:
              %span.user-link
                %a{ href: "#" }
                  Профиль
                  %span.icon.icon-user.user-link__icon
        %div.span6.smorodina-item
          %div.smorodina-item__img
            %div.smorodina-item__img__inner
              %image{ src: "/assets/tmp/130x90.gif", alt: "Фото", width: 130, height: 90 }
          %div.smorodina-item__content
            %div.smorodina-item__title
              %a{href: "#"}
                %b
                  Клуб рыболовов «Голубая устрица»
            %div.smorodina-item__geo
              %span.icon.icon-marker.smorodina-item__geo__icon
              %span.smorodina-item__geo__list
                %a.tdn-link{ href: "#" }
                  Полный
                %a.tdn-link{ href: "#" }
                  Географический
                %a.tdn-link{ href: "#" }
                  Идентификатор
            %div.smorodina-item__tags
              %span.icon.icon-tags.smorodina-item__tags__icon
              %span.smorodina-item__tags__list
                %a.tdn-link{ href: "#" }
                  Активный отдых
                %a.tdn-link{ href: "#" }
                  На воде
                %a.tdn-link{ href: "#" }
                  Рыбалка

            %div.smorodina-item__user
              %span.smorodina-item__user__text
                Добавил:
              %span.user-link
                %a{ href: "#" }
                  Профиль
                  %span.icon.icon-user.user-link__icon

      %div.row-fluid.chronicle__section__row
        %div.span6.smorodina-item
          %div.smorodina-item__img
            %div.smorodina-item__img__inner
              %image{ src: "/assets/tmp/130x90.gif", alt: "Фото", width: 130, height: 90 }
          %div.smorodina-item__content
            %div.smorodina-item__title
              %a{href: "#"}
                %b
                  Клуб рыболовов «Голубая устрица»
            %div.smorodina-item__geo
              %span.icon.icon-marker.smorodina-item__geo__icon
              %span.smorodina-item__geo__list
                %a.tdn-link{ href: "#" }
                  Полный
                %a.tdn-link{ href: "#" }
                  Географический
                %a.tdn-link{ href: "#" }
                  Идентификатор
            %div.smorodina-item__tags
              %span.icon.icon-tags.smorodina-item__tags__icon
              %span.smorodina-item__tags__list
                %a.tdn-link{ href: "#" }
                  Активный отдых
                %a.tdn-link{ href: "#" }
                  На воде
                %a.tdn-link{ href: "#" }
                  Рыбалка

            %div.smorodina-item__user
              %span.smorodina-item__user__text
                Добавил:
              %span.user-link
                %a{ href: "#" }
                  Профиль
                  %span.icon.icon-user.user-link__icon

  %div.chronicle__section
    %div.chronicle__section__header
      %b
        Четверг, 11 октября 2013 г.
    %div.chronicle__section__content
      %div.row-fluid.chronicle__section__row
        %div.span6.smorodina-item
          %div.smorodina-item__img
            %div.smorodina-item__img__inner
              %image{ src: "/assets/tmp/130x90.gif", alt: "Фото", width: 130, height: 90 }
          %div.smorodina-item__content
            %div.smorodina-item__title
              %a{href: "#"}
                %b
                  Клуб рыболовов «Голубая устрица»
            %div.smorodina-item__geo
              %span.icon.icon-marker.smorodina-item__geo__icon
              %span.smorodina-item__geo__list
                %a.tdn-link{ href: "#" }
                  Полный
                %a.tdn-link{ href: "#" }
                  Географический
                %a.tdn-link{ href: "#" }
                  Идентификатор
            %div.smorodina-item__tags
              %span.icon.icon-tags.smorodina-item__tags__icon
              %span.smorodina-item__tags__list
                %a.tdn-link{ href: "#" }
                  Активный отдых
                %a.tdn-link{ href: "#" }
                  На воде
                %a.tdn-link{ href: "#" }
                  Рыбалка


            %div.smorodina-item__user
              %span.smorodina-item__user__text
                Добавил:
              %span.user-link
                %a{ href: "#" }
                  Профиль
                  %span.icon.icon-user.user-link__icon
        %div.span6.smorodina-item
          %div.smorodina-item__img
            %div.smorodina-item__img__inner
              %image{ src: "/assets/tmp/130x90.gif", alt: "Фото", width: 130, height: 90 }
          %div.smorodina-item__content
            %div.smorodina-item__title
              %a{href: "#"}
                %b
                  Клуб рыболовов «Голубая устрица»
            %div.smorodina-item__geo
              %span.icon.icon-marker.smorodina-item__geo__icon
              %span.smorodina-item__geo__list
                %a.tdn-link{ href: "#" }
                  Полный
                %a.tdn-link{ href: "#" }
                  Географический
                %a.tdn-link{ href: "#" }
                  Идентификатор
            %div.smorodina-item__tags
              %span.icon.icon-tags.smorodina-item__tags__icon
              %span.smorodina-item__tags__list
                %a.tdn-link{ href: "#" }
                  Активный отдых
                %a.tdn-link{ href: "#" }
                  На воде
                %a.tdn-link{ href: "#" }
                  Рыбалка

            %div.smorodina-item__user
              %span.smorodina-item__user__text
                Добавил:
              %span.user-link
                %a{ href: "#" }
                  Профиль
                  %span.icon.icon-user.user-link__icon

  = render 'layouts/fetch'


%script
  $(function(){ landmark_description_search();})