%div#notice= notice

%div.search-filter
  %div.search-filter__inner
%div.map__outer
  %div.map__inner
    %div#map.map
%div.footer
  %div.footer__inner
    %div.row-fluid
      %div.span6
        %div.footer__copyright
          &copy; 2013 Смородина
        %div.footer__copyright-description
          Текст об условиях использования контента сайта и материалов пользователей,
          политика конфиденциальности, об отсутствии ответственности за качество,
          цены и прочих партнерских сервисов
      %div.span4
        %ul.footer__menu
          %li
            %a{href: "#"}
              Контактная информация
          %li
            %span.action-link
              Обратная связь
          %li
            %a{href: "#"}
              Карта сайта
      %div.span2.footer__social-block
        =image_tag "tmp/vk.png"
        =image_tag "tmp/fb.png"
        =image_tag "tmp/tw.png"
        =image_tag "tmp/g.png"

%h1.page-header
  Хроника смородины

%div.chronicle
  %div.chronicle__search
    %span.chronicle__search__field
      %label.chronicle__search__field__label{ for: "chronicleSearchType" }
        Показывать записи
      %input#chronicleSearchType.chronicle__search__field__input{ type: "text", placeholder: "Тип записей" }
    %span.chronicle__search__field
      %label.chronicle__search__field__label{ for: "chronicleSearchPlace" }
        Где?
      %input#chronicleSearchPlace.chronicle__search__field__input{ type: "text", placeholder: "Тип населенного пункта" }

  %div.chronicle__section
    %div.chronicle__section__header
      %b
        Четверг, 11 октября 2013 г.
    %div.chronicle__section__content
      %div.row-fluid.chronicle__section__row
        %div.span6
          %div.smorodina-item__img
            %div.smorodina-item__img__inner
              %img{src: 'http://placehold.it/130x90'}
          %div.smorodina-item__content
            %div.smorodina-item__title
              %b
                %a{href: "#"}
                  Клуб рыболовов «Голубая устрица»
            %div.smorodina-item__tags
              %span.icon.icon-tags.smorodina-item__tags__icon
              %small.smorodina-item__tags__text
                %a.tdn-link{ href: "#" }
                  Активный отдых
                →
                %a.tdn-link{ href: "#" }
                  На воде
                →
                %a.tdn-link{ href: "#" }
                  Рыбалка

            %div.smorodina-item__geo
              %span.icon.icon-marker.smorodina-item__geo__icon
              %small.smorodina-item__geo__text
                %a.tdn-link{ href: "#" }
                  Полный
                →
                %a.tdn-link{ href: "#" }
                  Географический
                →
                %a.tdn-link{ href: "#" }
                  Идентификатор

            %div.smorodina-item__user
              %small.smorodina-item__user__text
                Добавил:
              %span.user-link
                %a{ href: "#" }
                  Профиль
                  %span.icon.icon-user.user-link__icon
        %div.span6
          %div.smorodina-item__img
            %div.smorodina-item__img__inner
              %img{src: 'http://placehold.it/130x90'}
          %div.smorodina-item__content
            %div.smorodina-item__title
              %b
                %a{href: "#"}
                  Клуб рыболовов «Голубая устрица»
            %div.smorodina-item__tags
              %span.icon.icon-tags.smorodina-item__tags__icon
              %small.smorodina-item__tags__text
                %a.tdn-link{ href: "#" }
                  Активный отдых
                →
                %a.tdn-link{ href: "#" }
                  На воде
                →
                %a.tdn-link{ href: "#" }
                  Рыбалка

            %div.smorodina-item__geo
              %span.icon.icon-marker.smorodina-item__geo__icon
              %small.smorodina-item__geo__text
                %a.tdn-link{ href: "#" }
                  Полный
                →
                %a.tdn-link{ href: "#" }
                  Географический
                →
                %a.tdn-link{ href: "#" }
                  Идентификатор

            %div.smorodina-item__user
              %small.smorodina-item__user__text
                Добавил:
              %span.user-link
                %a{ href: "#" }
                  Профиль
                  %span.icon.icon-user.user-link__icon

      %div.row-fluid.chronicle__section__row
        %div.span6
          %div.smorodina-item__img
            %div.smorodina-item__img__inner
              %img{src: 'http://placehold.it/130x90'}
          %div.smorodina-item__content
            %div.smorodina-item__title
              %b
                %a{href: "#"}
                  Клуб рыболовов «Голубая устрица»
            %div.smorodina-item__tags
              %span.icon.icon-tags.smorodina-item__tags__icon
              %small.smorodina-item__tags__text
                %a.tdn-link{ href: "#" }
                  Активный отдых
                →
                %a.tdn-link{ href: "#" }
                  На воде
                →
                %a.tdn-link{ href: "#" }
                  Рыбалка

            %div.smorodina-item__geo
              %span.icon.icon-marker.smorodina-item__geo__icon
              %small.smorodina-item__geo__text
                %a.tdn-link{ href: "#" }
                  Полный
                →
                %a.tdn-link{ href: "#" }
                  Географический
                →
                %a.tdn-link{ href: "#" }
                  Идентификатор

            %div.smorodina-item__user
              %small.smorodina-item__user__text
                Добавил:
              %span.user-link
                %a{ href: "#" }
                  Профиль
                  %span.icon.icon-user.user-link__icon

  %div.chronicle__section
    %div.chronicle__section__header
      %b
        Четверг, 11 октября 2013 г.
    %div.chronicle__section__content
      %div.row-fluid.chronicle__section__row
        %div.span6
          %div.smorodina-item__img
            %div.smorodina-item__img__inner
              %img{src: 'http://placehold.it/130x90'}
          %div.smorodina-item__content
            %div.smorodina-item__title
              %b
                %a{href: "#"}
                  Клуб рыболовов «Голубая устрица»
            %div.smorodina-item__tags
              %span.icon.icon-tags.smorodina-item__tags__icon
              %small.smorodina-item__tags__text
                %a.tdn-link{ href: "#" }
                  Активный отдых
                →
                %a.tdn-link{ href: "#" }
                  На воде
                →
                %a.tdn-link{ href: "#" }
                  Рыбалка

            %div.smorodina-item__geo
              %span.icon.icon-marker.smorodina-item__geo__icon
              %small.smorodina-item__geo__text
                %a.tdn-link{ href: "#" }
                  Полный
                →
                %a.tdn-link{ href: "#" }
                  Географический
                →
                %a.tdn-link{ href: "#" }
                  Идентификатор

            %div.smorodina-item__user
              %small.smorodina-item__user__text
                Добавил:
              %span.user-link
                %a{ href: "#" }
                  Профиль
                  %span.icon.icon-user.user-link__icon

        %div.span6
          %div.smorodina-item__img
            %div.smorodina-item__img__inner
              %img{src: 'http://placehold.it/130x90'}
          %div.smorodina-item__content
            %div.smorodina-item__title
              %b
                %a{href: "#"}
                  Клуб рыболовов «Голубая устрица»
            %div.smorodina-item__tags
              %span.icon.icon-tags.smorodina-item__tags__icon
              %small.smorodina-item__tags__text
                %a.tdn-link{ href: "#" }
                  Активный отдых
                →
                %a.tdn-link{ href: "#" }
                  На воде
                →
                %a.tdn-link{ href: "#" }
                  Рыбалка

            %div.smorodina-item__geo
              %span.icon.icon-marker.smorodina-item__geo__icon
              %small.smorodina-item__geo__text
                %a.tdn-link{ href: "#" }
                  Полный
                →
                %a.tdn-link{ href: "#" }
                  Географический
                →
                %a.tdn-link{ href: "#" }
                  Идентификатор

            %div.smorodina-item__user
              %small.smorodina-item__user__text
                Добавил:
              %span.user-link
                %a{ href: "#" }
                  Профиль
                  %span.icon.icon-user.user-link__icon

  %div.chronicle__footer
    %div.icon.icon-circle-arrows.chronicle__footer__refresh-icon
    %div.chronicle__footer__button
      %a.button.button_3d.button_orange{ href: "#" }
        %span.button__inner.button_3d__inner
          %span.button__text.button_3d__text{ data: { text: "Еще результаты" }}


%script
  $(function(){ landmark_description_search();})