Благодарим вас за регистрацию. Вам на почту <
=@user.try(:email)
> отправлено письмо с дальнейшими инструкциями по активации.</br>
= link_to "Перейти на главную страницу", root_path
</br>
C уважением! СМОРОДИНА