.sitemap__content
  %h1 Карта сайта
  %ul.sitemap__links
    %li
      %a Куда отправиться
      %ul
        %li
          %a Поиск объектов
        %li
          %a Добавить объект
    %li
      %a События
      %ul
        %li
          %a Поиск событий
        %li
          %a Добавить событие
    %li
      %a
        Рейтинги пользователей
    %li
      %a О проекте
      %ul
        %li
          %a Контактная информация
    %li
      %a Личный кабинет пользователя
      %ul
        %li
          %a Обзор профиля
          %ul
            %li
              %a Настройки профиля
        %li
          %a Настройки аккаунта
    %li
      %a Обратная связь
    %li
      %a Пользовательское соглашение

= render 'layouts/footer'