%ul.obj-page-navigation.subnavigation
  %li{class: current_page?(event_path(object)) ? 'active' : ''}
    = link_to 'Отзывы', event_path(object), {class: 'action-link ui-link'}

  %li.no-padding.pull-right.write_review
    - button_text = content_tag :span, '', class: 'button__text button_3d__text', data: {text: 'Написать отзыв'}
    - button_wrapper = content_tag :span, button_text, class: 'button__inner button_3d__inner'
    = link_to button_wrapper, '#' , {class: 'button button_3d button_orange'}

