%h1#pageTitle.page-title_centered
  Что происходит в стране

%div.events__add-event-button
  %a.button.button_3d.button_orange{ href: new_event_path }
    %span.button__inner.button_3d__inner
      %span.button__text.button_3d__text{ data: { text: 'Добавить событие' }}

%form#eventSearchForm.search-panel_events
  %h2.search-panel__header.search-panel__header_default{data: { default: 'Все события' }}
    %span.search-panel__header__text
      Все события
    %a.action-link.search-panel__header__back-link{ href: '/events' }
      Показать все события

  %div.search-panel_events__inner.clearfix
    %div.search-panel__change-controls
      %span.search-panel__change-date
        %span.icon.icon-calendar.search-panel__change-date__icon
        %span.search-panel__change-date__content
          %span.search-panel__change-date__text
            Начиная с
            = Time.now.strftime('%Y-%m-%d')
          %span.action-link.search-panel__change-date__link
            Изменить дату
          %input.search-panel__change-date__input{ type: 'hidden', name: 'from',
          value: Time.now.strftime('%Y-%m-%d') }
      %span.search-panel__change-place
        %span.icon.icon-bigpin.search-panel__change-place__icon
        %span.search-panel__change-place__content
          %span.search-panel__change-place__text
            По всей России
          %span.action-link.search-panel__change-place__link
            Изменить место
        %input{ type: 'hidden', name: 'place' }
    %div.search-panel__search-field
      %input#eventSearchFormInput.input_standard.input-xlarge.search-panel_events__input{ type: 'text',
      placeholder: 'Название или тип события', name: 'text' }
      %button#eventSearchFormButton.button.button_standard.button_grey
        %span.button__inner.button_standard__inner
          %span.button__text.button_standard__text{data: { text: 'Найти' }}

%div#searchResultsPanel.search-results-panel
  %div.search-results-panel__inner
    %span.sort-controls.search-results-panel__sort
      %span.label_horizontal.search-results-panel__sort__title
        Сортировать по
      %span.sort-group
    %span.search-results-panel__show
      %label.label_horizontal.search-results-panel__show__title
        Показывать
      %select.input-medium
        %option
          Все

%div#searchResults.search__results
  %div#searchResultsSpinner.search__results__spinner
  %div#searchResultsContent

= render 'layouts/search_empty', { type: 'событие' }

= render 'layouts/fetch'

= render 'layouts/footer'
