%h1= @event.title

%p= @event.body

%p= @event.tag_list

%ul
  - @event.images.each do |image|
    %li.event_image= image_tag image.image_url(:thumb)
    .votes{id: dom_id(image)}
      =render partial: "shared/votes", locals: { object_to_vote: image, nested_path: "" }
