connection: &connection
  adapter: postgis
  postgis_extension: true
  encoding: unicode
  pool: 5
  username: smorodina
  password:

development:
  <<: *connection
  database: smorodina_dev

test:
  <<: *connection
  database: smorodina_test

production:
  <<: *connection
  database: smorodina

