development:
  twitter:
    key: 13miB5TnS4NNXTXn94DA
    secret: zXmLg9CIivjOV6prxEGEuKGD29g7NpoK6aXM21ZQY
  facebook:
    id: 107070769454922
    secret: 438f784a07c9772aaad60042c5bce988
  vkontakte:
    id: 3198428
    secret: C3AC3UBI4YsCbEMYGTtg
  google:
    id: 244094744001.apps.googleusercontent.com
    secret: ZriCVlC8jQcI3TfdT7lHvpI_

production:
  twitter:
    key: ubuzKuFS6eJDz8sc1HL1A
    secret: nDomupv1b3T2xqeweVQ4oZMYSn8KHSpwDzor8IKK4c
  facebook:
    id: 398859606860610
    secret: dc29365c3fed22ec9d6986053279ffba
  vkontakte:
    id: 3317583
    secret: mOM87q2QWQc5TvkjBPJL
  google:
    id: 721566470726.apps.googleusercontent.com
    secret: NMUxo5Ss1cpzFkU6QS5qaQNq

test:
  twitter:
    key: 13miB5TnS4NNXTXn94DA
    secret: zXmLg9CIivjOV6prxEGEuKGD29g7NpoK6aXM21ZQY
  facebook:
    id: 107070769454922
    secret: 438f784a07c9772aaad60042c5bce988
  vkontakte:
    id: 3198428
    secret: C3AC3UBI4YsCbEMYGTtg
  google:
    id: 244094744001.apps.googleusercontent.com
    secret: ZriCVlC8jQcI3TfdT7lHvpI_
