%div.map__outer
  %div.map__inner
    %div#map.map

%h1.page-header Рыбалка

%div.search-categories
  %div.search-categories__inner
    %b.search-categories__title
      Найдено результатов
    %button.search-category.search-category_all{ data: { facet: "" } }
      %span.search-category__text{ data: { text: "Все варианты" }}
    %button.search-category.search-category_sightseeing{ data: { facet: "sightseeing" } }
      %span.search-category__text{ data: { text: "Что посмотреть" }}
    %button.search-category.search-category_activities{ data: { facet: "activities" } }
      %span.search-category__text{ data: { text: "Чем заняться" }}
    %button.search-category.search-category_lodging{ data: { facet: "lodging" } }
      %span.search-category__text{ data: { text: "Где заночевать" }}
    %button.search-category.search-category_food{ data: { facet: "food" } }
      %span.search-category__text{ data: { text: "Где поесть" }}
    %button.search-category.search-category_places{ data: { facet: "" } }
      %span.search-category__text{ data: { text: "Места" }}

%div.search-panel
  %div.search-panel__inner
    %span.search-pannel__sort-title
      Сортировать по
    %span.sort-control
      %span.action-link.sort-control__text
        Рейтингу
      %span.sort-control__arrow
        &nbsp;
      %span.sort-control__triangle
    %span.sort-control
      %span.action-link.sort-control__text
        Имени
      %span.sort-control__arrow
        &nbsp;
      %span.sort-control__triangle
    %span.search-pannel__show-title
      Показывать
      %select
        %option
          Все


%div.search-results-section
  %h2.search-results-section__title
    %span.search-results-section__title__text
      Лучшие варианты

  / TODO remove this block in future. It is here only for demonstration.

  %div.smorodina-item{ style: "border-top: none; border-bottom: 1px dotted #E4E5F1; margin-bottom: 20px; padding-top: 0" }
    %div.smorodina-item__content
      %div.smorodina-item__top
        %span.smorodina-item__label.smorodina-item__label_places
          Места
        %span.smorodina-item__show-more
          %a{href: "#"}
            показать еще
            %b
              4
        %i.smorodina-item__total
          из 122456
      %div.row-fluid
        %div.span8
          %div.smorodina-item__title
            %a{href: "#"}
              %b Хорошая рыбалка (Поселок)
          %div.smorodina-item__geo
            %span.icon.icon-marker.smorodina-item__geo__icon
            %small.smorodina-item__geo__list
              %a.tdn-link{ href: "#" }
                Полный
              %a.tdn-link{ href: "#" }
                Географический
              %a.tdn-link{ href: "#" }
                Идентификатор

  / -------------------------------------------------------------------------------

  %div#search-results

= render 'layouts/fetch'
= render 'layouts/footer'

%script
  $(function(){ landmark_description_search();})
