.leaflet-wide{id: "map"}

%h1.page-title.page-title__centered Куда отправиться

%div.main-search
  %div.main-search-description
    Найди места куда поехать, что посмотреть, чем заняться, где заночевать, где поесть
  %div.clearfix
    = button_tag "Найти", id: 'searchButton', class: 'btn main-search-button'
    %div.main-search-field-container
      = text_field_tag 'searchField', nil, class: 'input-block-level main-search-field-input', placeholder: 'Рыбалка'
  %span.main-search-examples
    %small
      Например,
    = link_to "водопад Девичьи слёзы", "#"
    (
    %span.action-link
      все примеры поиска
    )
  %span.main-search-history
    %span.main-search-history-icon
    %span.action-link История поиска


/ Tabs should be printed in reversed order. 
/ It is essential for tabs can overlap each other
/ according to design. The right order is implemented 
/ through css. 

%div.tabs.search-filter-tabs 
  %span.tab.search-filter-tab{ data: { facet: "food" } }
    %span.search-filter-tab-icon.icons-food
    Где поесть
  %div.tab-content.search-filter-tab-content
    %div.tab-content-inner.search-filter-tab-inner
      
        
  %span.tab.tab.search-filter-tab{ data: { facet: "lodging" } }
    %span.search-filter-tab-icon.icons-lodging
    Где заночевать
  %div.tab-content.search-filter-tab-content
    %div.tab-content-inner.search-filter-tab-inner
      

  %span.tab.search-filter-tab{ data: { facet: "activities" } }
    %span.search-filter-tab-icon.icons-activities
    Чем заняться
  %div.tab-content.search-filter-tab-content
    %div.tab-content-inner.search-filter-tab-inner
      

  %span.tab.search-filter-tab{ data: { facet: "sightseeing" } }
    %span.search-filter-tab-icon.icons-sightseeing
    Что посмотреть
  %div.tab-content.search-filter-tab-content
    %div.tab-content-inner.search-filter-tab-inner     


%h2.section-title Лучшие варианты
%div#search-results

%script
  $(window).load(function(){ landmark_description_search();})
