.leaflet-wide{id: "map"}

%h1.page-title.page-title__centered Куда отправиться

%div.main-search
  %div.main-search-description
    Найди места куда поехать, что посмотреть, чем заняться, где заночевать, где поесть
  %div.clearfix
    = button_tag "Найти", id: 'searchButton', class: 'btn main-search-button'
    %div.main-search-field-container
      = text_field_tag 'searchField', nil, class: 'input-block-level main-search-field-input', placeholder: 'Рыбалка'
  %span.main-search-examples
    %small
      Например,
    = link_to "водопад Девичьи слёзы", "#"
    (
    %span.action-link
      все примеры поиска
    )
  %span.main-search-history
    %span.main-search-history-icon
    %span.action-link История поиска


%dl.search-filter-tabs
  %dt.search-filter-tab.selected
    Все варианты
  %dd.search-filter-tab-content.selected
    %div.search-filter-tab-inner
      all content
  %dt.search-filter-tab{ data: { facet: "sightseeing" } }
    Что посмотреть
  %dd.search-filter-tab-content
    %div.search-filter-tab-inner
      sightseeing content
  %dt.search-filter-tab{ data: { facet: "activities" } }
    Чем заняться
  %dd.search-filter-tab-content
    %div.search-filter-tab-inner
      activities content
  %dt.search-filter-tab{ data: { facet: "lodging" } }
    Где заночевать
  %dd.search-filter-tab-content
    %div.search-filter-tab-inner
      lodging content
  %dt.search-filter-tab{ data: { facet: "food" } }
    Где поесть
  %dd.search-filter-tab-content
    %div.search-filter-tab-inner
      food content                  
   


%h2.section-title Лучшие варианты
%div#search-results

%script
  $(window).load(function(){ landmark_description_search();})
