%div#mapContainer.map__outer
  %div.map__inner
    %div.map__content
      %div#mapContainer.map__container.map__container_collapsed
        %div#map.map
      %div#mapExpand.map__expand
        %span.map__expand__button
          %span#mapExpandButton.action-link.map__expand__button__text
            Посмотреть на карте


%h1#pageTitle.page-title{ data: { default: { title: 'Поиск' } } } Поиск

%div#searchCategories.search-categories
  %div.search-categories__inner
    %b.search-categories__title
      Найдено результатов
    %button.search-category.search-category_all{ data: { facet: '' } }
      %span.action-link.search-category__text{ data: { text: 'Все' }}
        %b.search-category__total
          48
    %button.search-category.search-category_sightseeing{ data: { facet: 'sightseeing' } }
      %span.icon-binoculars.search-category__icon.search-category__icon_binoculars
      %span.action-link.search-category__text{ data: { text: 'Что посмотреть' }}
        %b.search-category__total
          48
    %button.search-category.search-category_activities{ data: { facet: 'activities' } }
      %span.icon-star.search-category__icon.search-category__icon_star
      %span.action-link.search-category__text{ data: { text: 'Чем заняться' }}
        %b.search-category__total
          48
    %button.search-category.search-category_food{ data: { facet: 'food' } }
      %span.icon-food-eat.search-category__icon.search-category__icon_food-eat
      %span.action-link.search-category__text{ data: { text: 'Где поесть' }}
        %b.search-category__total
          48
    %button.search-category.search-category_lodging{ data: { facet: 'lodging' } }
      %span.icon-bed.search-category__icon.search-category__icon_bed
      %span.action-link.search-category__text{ data: { text: 'Где заночевать' }}
        %b.search-category__total
          48
    %button.search-category.search-category_places{ data: { facet: 'places' } }
      %span.action-link.search-category__text{ data: { text: 'Места' }}
        %b.search-category__total
          48

%div#searchPanel.search-panel
  %div.search-panel__inner
    %span.sort-controls.search-panel__sort
      %span.label_horizontal.search-panel__sort__title
        Сортировать по
      %span.sort-control.selected
        %span.action-link.sort-control__text
          Рейтингу
        %span.sort-control__arrow
          &nbsp;
        %span.sort-control__triangle
      %span.sort-control
        %span.action-link.sort-control__text
          Имени
        %span.sort-control__arrow
          &nbsp;
        %span.sort-control__triangle
    %span.search-panel__show
      %label.label_horizontal.search-panel__show__title
        Показывать
      %select.input-medium
        %option
          Все


%div#searchResults.search__results
  %div#searchResultsSpinner.search__results__spinner
  %div#searchResultsContent
    %div#searchResultsBest
      %h2.search__results__title
        %span.search__results__title__text
          Лучшие варианты
      %div#searchResultsBestContent
    %div#searchResultsRest
      %h2.search__results__title
        %span.search__results__title__text
          Все варианты
      %div#searchResultsRestContent
    = render 'layouts/fetch'

%div#searchEmpty.search__empty
  %div.search__empty__request
    По запросу
    %b
      «
      %span#searchEmptyRequestText.search__empty__request__text>
      »
    ничего не найдено
  %div.search__empty__info
    %div.row-fluid
      %div.span5.search__empty__info__warning
        %div
          Убедись, что все слова написаны без ошибок
        %span.search__empty__info__warning__link
          %a{href: '#123'}
            Cмотри примеры поиска на нашем сайте

      %div.span2.search__empty__info__or
        %div.search__empty__info__or__text
          или
        =image_tag 'icons/figure-arrow-left.png'
        =image_tag 'icons/figure-arrow-right.png'

      %div.span5.search__empty__info__advise
        %div.search__empty__info__advise__border
        %div.search__empty__info__advise__title
          Расскажи о том, что искал
        %div.search__empty__info__advise__subtitle
          Помоги в развитии проекта
        %a.button.button_3d.button_orange{ href: new_landmark_description_path }
          %span.button__inner.button_3d__inner
            %span.button__text.button_3d__text{ data: { text: 'Добавь объект' }}

= render 'layouts/footer'

%script
  $(function(){ landmark_description_search();})
