.leaflet-wide{id: "map"}

%h1.page-title.page-title__centered Куда отправиться

%div.main-search
  %div.main-search-description
    Найди места куда поехать, что посмотреть, чем заняться, где заночевать, где поесть
  %div.clearfix
    = button_tag "Найти", id: 'searchButton', class: 'btn main-search-button'
    %div.main-search-field-container
      = text_field_tag 'searchField', nil, class: 'input-block-level main-search-field-input', placeholder: 'Рыбалка'
  %span.main-search-examples
    %small
      Например,
    = link_to "водопад Девичьи слёзы", "#"
    (
    %span.action-link
      все примеры поиска
    )
  %span.main-search-history
    %span.main-search-history-icon
    %span.action-link История поиска


/ Tabs should be printed in reversed order. 
/ It is essential for tabs can overlap each other
/ according to design. The right order is implemented 
/ through css. 

%div.tabs.search-type-tabs 
  %span.tab.search-type-tab{ data: { facet: "food" } }
    %span.search-type-tab-icon.icons-food<
    Где поесть
  %div.tab-content.search-type-tab-content
    %div.search-type-tab-content-inner
      %div.tabs.search-tags-tabs
        %span.tab.search-tags-tab.selected
          %span.tab.search-tags-tab-text<
            111111
        %div.tab-content.search-tags-tab-content.selected
          %div.search-tags-tab-content-inner
            111111  
        %span.tab.search-tags-tab
          %span.tab.search-tags-tab-text<
            222222
        %div.tab-content.search-tags-tab-content
          %div.search-tags-tab-content-inner
            222222    
        
  %span.tab.tab.search-type-tab{ data: { facet: "lodging" } }
    %span.search-type-tab-icon.icons-lodging<
    Где заночевать
  %div.tab-content.search-type-tab-content
    %div.search-type-tab-content-inner
      %div.tabs.search-tags-tabs
        %span.tab.search-tags-tab.selected
          %span.tab.search-tags-tab-text<
            333333
        %div.tab-content.search-tags-tab-content.selected
          %div.search-tags-tab-content-inner
            333333  
        %span.tab.search-tags-tab
          %span.tab.search-tags-tab-text<
            444444
        %div.tab-content.search-tags-tab-content
          %div.search-tags-tab-content-inner
            444444    

  %span.tab.search-type-tab{ data: { facet: "activities" } }
    %span.search-type-tab-icon.icons-activities<
    Чем заняться
  %div.tab-content.search-type-tab-content
    %div.search-type-tab-content-inner
      %div.tabs.search-tags-tabs
        %span.tab.search-tags-tab.selected
          %span.tab.search-tags-tab-text<
            555555
        %div.tab-content.search-tags-tab-content.selected
          %div.search-tags-tab-content-inner
            555555  
        %span.tab.search-tags-tab
          %span.tab.search-tags-tab-text<
            666666
        %div.tab-content.search-tags-tab-content
          %div.search-tags-tab-content-inner
            666666    

  %span.tab.search-type-tab{ data: { facet: "sightseeing" } }
    %span.search-type-tab-icon.icons-sightseeing<
    Что посмотреть
  %div.tab-content.search-type-tab-content
    %div.search-type-tab-content-inner
      %div.tabs.search-tags-tabs
        %span.tab.search-tags-tab.selected
          %span.tab.search-tags-tab-text<
            777777
        %div.tab-content.search-tags-tab-content.selected
          %div.search-tags-tab-content-inner
            777777  
        %span.tab.search-tags-tab
          %span.tab.search-tags-tab-text<
            888888
        %div.tab-content.search-tags-tab-content
          %div.search-tags-tab-content-inner
            888888    


       
   


%h2.section-title Лучшие варианты
%div#search-results

%script
  $(window).load(function(){ landmark_description_search();})
