%div#showImageModal.modal.hide.fade.reg-modal{ role: 'dialog', tabindex: '-1' }
  %div.modal-content
    %div.modal-header
      %button.close{ data: { dismiss: 'modal'}, type: 'button'} ×
    %div.modal-body
      .pic_show__container
        .pic_show__spinner
          .pic_show__spinner__home
      #pic_show_content
