$experimental-support-for-svg: true;
$legacy-support-for-ie: false;

@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/background-size";
@import "compass/css3/columns";
@import "compass/css3/transform";

@import "icons/*.png";

$lightblue: #37b8e8;
$violet:    #9194b2;

$large-screen:  979px;
$medium-screen: 767px;
$small-screen:  480px;

@mixin respond-to($media) {
  @if $media == large-screen {
	@media (max-width: $large-screen) { @content; }
  }
  @else if $media == medium-screen {
	@media (max-width: $medium-screen) { @content; }
  }
  @else if $media == small-screen {
	@media (max-width: $small-screen) { @content; }
  }
}

