.event_show_page{
  .map__outer{
    margin: 32px 0 32px 0;
  }
  .map__expand{
    padding: 25px 0 20px 0;
  }
}

.event_description{
  padding: 50px 22px 32px 33px;
  @include clearfix;
}

.event_description__left{
  float: left;
  margin: 0 60px 0 0;
  width: 243px;
}

.event_description__right{
  float: left;
  width: 975px;
  a.hide{
    display: none;
  }
  a.show{
    display: none;
  }
  &.slidable{
    a.show{
      display: inline;
    }
    .transparency{
      display: block;
    }
  }
  &.opened{
    a.show{
      display: none;
    }
    a.hide{
      display: inline;
    }
    .transparency{
      display: none;
    }
    .event_description__right__body{
      max-height: none;
    }
  }
  
}
        
.event_description__left__actions__photo-video{
  margin: 32px 0 18px 0;
}
.event_description__left__actions__print{
  margin: 0 0 34px 0;
}
.event_description__left__actions__social{
  margin: 0 0 24px 0;
}
.event_description__right__title{
  margin: 0 0 16px 0;
  h1{
    margin: 0
  }
}
.event_description__right__geo{
  margin: 0 0 12px 0;
}
.event_description__right__tags{
  margin: 0 0 30px 0;
}

.event_description__right__timetable,
.event_description__right__start-time,
.event_description__right__address,
.event_description__right__contacts{
  font-family: $base-font;
  text-transform: lowercase;
  &:before{
    font-family: 'smorodina-icons';
  }
}

      
.event_description__right__timetable{
  margin: 0 0 15px 0;
  font-weight: bold;
  &:before{
    font-weight: normal;
  }
}
      
.event_description__right__start-time{
  margin: 0 0 15px 0;
  .count{
    font-weight: bold;
  }
}
      
.event_description__right__address{
  margin: 0 0 25px 0;
}
      
.event_description__right__contacts{
  margin: 0 0 15px 0;
  &:before{
    float: left;
    margin-right: 3px;
  }
  ul{
    display: inline-block;
  }
  li{
    margin: 0 0 5px 0;
  }
}

.event_description__right__actions{
  margin: 0 0 43px 0;
  padding: 20px 0 0 0;
  a.active{
    background-color: #1d9ccc;
    color: #fff;
    &:hover{
      background-color: #1d9ccc;
    }
  }
  a.count{
    font-weight: bold;
  }
}
        
.event_description__right__actions__like{
  display: inline-block;
}

.event_description__right__actions__go{
  display: inline-block;
  a.button{
    margin-right: 5px;
  }
}
        
.event_description__right__body{
  max-height: 215px;
  overflow: hidden;
  position: relative;
  .transparency{
    display: none;
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 100%;
    margin-top: -22px;
    @include background-image(linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%));
    @include background-size(100% 100%);
  }
  
  
}

.event_description__right__body__full-link{
  margin: 20px 0 20px 0;
}
      
.event_description__right__body__adder{
  margin: 0 0 0 0;
}
