@font-face {
  font-family: 'smorodina-icons';
  src: font-url('smorodina-icons.eot');
  src: font-url('smorodina-icons.eot?#iefix') format('embedded-opentype'),
       font-url('smorodina-icons.woff') format('woff'),
       font-url('smorodina-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon-facebook, .icon-twitter, .icon-vk, .icon-flag, .icon-thumbs-up, .icon-thumbs-down, .icon-cross,
.icon-search, .icon-arrow-left, .icon-arrow-right, .icon-arrow-down, .icon-login, .icon-logout,
.icon-list, .icon-clock, .icon-cycle, .icon-bed, .icon-food-eat, .icon-star, .icon-binoculars,
.icon-sm-list, .icon-sm-pencil, .icon-sm-pictures, .icon-sm-video, .icon-sm-arrow-left-3, .icon-sm-history,
.icon-sm-arrow-up, .icon-sm-reply, .icon-sm-arrow-left-2, .icon-sm-untitled, .icon-sm-full-screen,
.icon-sm-arrow-down-2, .icon-sm-close, .icon-sm-print, .icon-sm-plus, .icon-sm-compass, .icon-sm-location,
.icon-sm-clock, .icon-sm-directions, .icon-sm-bookmark, .icon-sm-calendar{ 
  font-family: 'smorodina-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-facebook:before {
  content: "\e001";
}
.icon-twitter:before {
  content: "\e002";
}
.icon-vk:before {
  content: "\e000";
}
.icon-flag:before {
  content: "\66";
}
.icon-thumbs-up:before {
  content: "\e004";
}
.icon-thumbs-down:before {
  content: "\e005";
}
.icon-cross:before {
  content: "\e006";
}
.icon-search:before {
  content: "\e007";
}
.icon-arrow-left:before {
  content: "\e008";
}
.icon-arrow-right:before {
  content: "\e009";
}
.icon-arrow-down:before {
  content: "\e00a";
}
.icon-login:before {
  content: "\e00b";
}
.icon-logout:before {
  content: "\e00c";
}
.icon-list:before {
  content: "\e00d";
}
.icon-clock:before {
  content: "\e00e";
}
.icon-cycle:before {
  content: "\e00f";
}
.icon-bed:before {
  content: "\21";
}
.icon-food-eat:before {
  content: "\22";
}
.icon-star:before {
  content: "\23";
}
.icon-binoculars:before {
  content: "\24";
}
.icon-sm-list:before {
  content: "\e00d";
}
.icon-sm-pencil:before {
	content: "\3f";
}
.icon-sm-pictures:before {
	content: "\26";
}
.icon-sm-video:before {
	content: "\27";
}
.icon-sm-arrow-left-3:before {
	content: "\2a";
}
.icon-sm-history:before {
	content: "\30";
}
.icon-sm-arrow-up:before {
	content: "\2d";
}
.icon-sm-reply:before {
	content: "\38";
}
.icon-sm-untitled:before {
	content: "\28";
}
.icon-sm-arrow-left-2:before {
	content: "\29";
}
.icon-sm-full-screen{
	&:before {
		content: "\3e";
	}
}
.icon-sm-arrow-down-2:before {
	content: "\2c";
}
.icon-sm-close:before {
	content: "\3d";
}
.icon-sm-print:before {
  content: "\f02f";
}
.icon-sm-plus:before {
  content: "\39";
}
.icon-sm-compass:before {
  content: "\32";
}
.icon-sm-location:before {
  content: "\34";
}
.icon-sm-directions:before {
  content: "\31";
}
.icon-sm-clock:before {
  content: "\e00e";
}

.icon-sm-bookmark:before {
  content: "\f02e";
}

.icon-sm-calendar:before {
  content: "\36";
}
