@import "base";

.icon {
  display: inline-block;
}

.icon-fb, .icon-vk, .icon-tw {
  width: 18px; height: 18px;
}

.icon-fb {
  @include background-image-svg("icons/fb");
}

.icon-vk {
  @include background-image-svg("icons/vk");
}

.icon-tw {
  @include background-image-svg("icons/tw");
}

.icon-clock {
  @include background-image-svg("icons/clock");
  width: 12px; height: 12px;
}

.icon-door {
  @include background-image-svg("icons/door");
  width: 16px; height: 13px;
}
