// Place all the styles related to the LandmarkDescriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.leaflet-wide {
  height: 250px;
  margin-bottom: 20px;
}

.leaflet-create-object {
  height: 400px;
}

.leaflet-edit-object {
  height: 150px;
}

/* ---------------------------------- MAIN SEARCH FIELD START --------------------------------- */

.main-search {
  width: 85%;
  margin: 0 auto 25px auto;
  text-align: center;
}

.main-search-description {
  font-size: 16px;
  margin-bottom: 15px;
}

.main-search-field-container {
  overflow: hidden;
}

.main-search-button {
  float: right;
  margin-left: 10px;
}

.main-search-history {
  position: relative;
  padding-left: 18px;
  margin-left: 6px;
}

.main-search-history-icon {
  border-radius: 50%;
  display: inline-block;
  height: 12px; width: 12px;
  background: #f1f1f1;
  position: absolute; top: 50%; left: 0;
  margin-top: -7px;
  border: 1px solid #999999;
}

.main-search-history-icon:after,
.main-search-history-icon:before {
  content: ' ';
  font-size: 0;
  position: absolute;
  background: #3c3c3c;
}

.main-search-history-icon:after {
  width: 1px; height: 6px;
  left: 50%; top: 2px;
}

.main-search-history-icon:before {
  width: 6px; height: 1px;
  top: 50%; right: 1px;
}

.main-search-examples small {
  font-size: 10px;
}

/* ---------------------------------- MAIN SEARCH FIELD END ----------------------------------- */

.tabs {
  width: 100%;
  position: relative;
  font-size: 0;
}

.tabs:before,
.tabs:after {
    content: " ";
    display: table;
}

.tabs:after {
    clear: both;
}

.tab {
  display: inline-block;
  cursor: pointer;  
  position: relative;
  font-size: 14px;
  vertical-align: top;
}

.tab.selected { 
  cursor: default;  
}

.tab-content {
  float: right;
  width: 100%;
  position: relative;
  display: none;
  font-size: 14px;
  text-align: left;
  z-index: 2;
}

.tab-content.selected {
  display: block;
}

.search-type-tabs {
  margin: auto;
  text-align: center;
  width: 80%;
}

.search-type-tabs-triangle {
  width: 104px;
  height: 26px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -52px;
  margin-top: -1px;
}

.search-type-tab {  
  font-weight: bold;
  color: $lightblue;
  @include text-shadow(1px 1px 0 #fff);

  min-width: 220px;
  height: 85px;
  padding-top: 15px;
  border: solid 1px #e4e5f1;
  border-right: 2px solid #9d9fac;
  border-bottom: none;  
  margin-left: 3px;
  @include border-top-radius(15px);
  @include box-shadow(rgba(245,245,245,.75) 0 0 0 1px inset);
  @include background(linear-gradient(bottom, #ebebeb, #fff));
}

.search-type-tab:first-child {
  margin-left: 0;
};

.search-type-tab.selected {
  background: image-url('creampaper.png');
  border-color: #e0dfd9;
  border-right-color: #9d9fac;
  @include box-shadow(rgba(0, 0, 0, 0.1) 3px 0 2px -2px);
  color: #000000;
  z-index: 3;
}

.search-type-tab-icon {
  width: 54px;
  height: 45px;
  margin: 0 auto 5px auto;
  display: block;
}

.search-type-tab-content {
  background: image-url('creampaper.png');
  margin: 100px 0 0 -100%;
  @include box-shadow(rgba(0,0,0,.06) 0 0 10px 0);
  margin-bottom: 10px;
}

.search-type-tab-content-inner {
  padding: 20px 10px;
  @include border-radius(2px);
  border: 1px solid #e0dfd9;
}

.search-tags-tab {  
  color: $violet;  
  padding: 12px 15px 0 15px;
  height: 28px;  
  left: 35px;
  @include border-top-radius(6px);  
}

.search-tags-tab-text {
  border-bottom: 1px dotted;
  line-height: 1.2;
}

.search-tags-tab.selected {
  background-color: #fff;
}

.search-tags-tab.selected > .search-tags-tab-text {
  border-bottom-color: #fff;
  color: #000;
}

.search-tags-tab-content {
  background: #fff;
  margin: 40px 0 0 -100%;
}

.search-tags-tab-content-inner {
  padding: 30px 20px 10px;
  @include column-count(5);
  @include column-width(200px);
  @include column-gap(10px);
}

.search-tags-list {
  margin: 0;
  padding: 0
}

.search-tags-list > li {
  margin-bottom: 5px;
  list-style: none;
  white-space: nowrap;
}

.no-csscolumns .search-tags-list > li {
  display: inline-block;
  width: 150px;
}

/* ---------------------------------- SEARCH RESULT START --------------------------------- */

.landmark-search-result {
  border-top: 1px dashed gray;
  padding-top: 15px;
  margin-top: 15px;
  overflow: hidden;
}

.landmark-search-result:first-child {
  border-top: none;
  margin-top: 0;
}

.landmark-search-result-img {
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  margin-right: 10px;
}

.landmark-search-result-content {
  overflow: hidden;
}

.landmark-search-result-title {
  font-size: 18px;
  font-weight: normal;  
  margin: 0 0 10px 0;
}

.landmark-search-result-tags {

}

.landmark-search-result-reviews {
  font-size: 11px;
}

/* ---------------------------------- SEARCH RESULT END ----------------------------------- */
