// Place all the styles related to the LandmarkDescriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.leaflet-wide {
  height: 250px;
  margin-bottom: 20px;
}

.leaflet-create-object {
  height: 400px;
}

.leaflet-edit-object {
  height: 150px;
}

/* ----------------------------------------------- MAIN SEARCH FIELD START ------------------------------------------ */

.main-search {
  width: 85%;
  margin: 0 auto 25px auto;
  text-align: center;
}

.main-search-description {
  font-size: 16px;
  margin-bottom: 15px;
}

.main-search-field-container {
  overflow: hidden;
}

.main-search-button {
  float: right;
  margin-left: 10px;
}

.main-search-history {
  position: relative;
  padding-left: 18px;
  margin-left: 6px;
}

.main-search-history-icon {
  border-radius: 50%;
  display: inline-block;
  height: 12px; width: 12px;
  background: #f1f1f1;
  position: absolute; top: 50%; left: 0;
  margin-top: -7px;
  border: 1px solid #999999;
}

.main-search-history-icon:after,
.main-search-history-icon:before {
  content: ' ';
  font-size: 0;
  position: absolute;
  background: #3c3c3c;
}

.main-search-history-icon:after {
  width: 1px; height: 6px;
  left: 50%; top: 2px;
}

.main-search-history-icon:before {
  width: 6px; height: 1px;
  top: 50%; right: 1px;
}

.main-search-examples small {
  font-size: 10px;
}

/* ----------------------------------------------- MAIN SEARCH FIELD END -------------------------------------------- */

.search-filter-tabs {
  white-space: nowrap;
  margin-bottom: 40px;
}

.search-filter-tab {
  padding: 8px 15px;
  display: inline-block;
}

.search-filter-tab__selected {
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  border-bottom: none;
}

.search-filter-tab-content {
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  padding: 8px 15px;
}

/* ----------------------------------------------- SEARCH RESULT START ---------------------------------------------- */

.landmark-search-result {
  border-top: 1px dashed gray;
  padding-top: 15px;
  margin-top: 15px;
  overflow: hidden;
}

.landmark-search-result:first-child {
  border-top: none;
  margin-top: 0;
}

.landmark-search-result-img {
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  margin-right: 10px;
}

.landmark-search-result-content {
  overflow: hidden;
}

.landmark-search-result-title {
  font-size: 18px;
  font-weight: normal;  
  margin: 0 0 10px 0;
}

.landmark-search-result-tags {

}

.landmark-search-result-reviews {
  font-size: 11px;
}

/* ----------------------------------------------- SEARCH RESULT END ------------------------------------------------ */
