// Place all the styles related to the LandmarkDescriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.leaflet-wide {
  height: 250px
}

.leaflet-create-object {
  height: 400px
}
.leaflet-edit-object {
  height: 150px
}

.ld {
  border-bottom: 1px dotted gray
}
.landmark-search-result {
  border-bottom: 1px dotted gray
}
.picture {
  float: left;
  width: 100px;
  height: 100px;
  background: gray;
  margin: 10px
}
.clear-lf {
  clear: left
}