@import "base";

@mixin gradient-light($rev: false) {
  @include background(linear-gradient(white, #ebebeb));
  @if $rev {
    &:hover {
      @include background(linear-gradient(#ebebeb, white));
    }
  }
}
@mixin shadow {
  @include box-shadow(0 1px white, inset 0 1px 1px white);
}

.leaflet-control-zoom {
  padding: 0;
  background: transparent;
}

.leaflet-bar {
  background: none;
  @include box-shadow(none);
  padding: 0;
}

.leaflet-top.leaflet-left {
  @include box-shadow(0px 2px 2px rgba(black, 0.13));
  background: rgba(white, 0.6);
  width: 30px;
  padding: 5px 3px;
  @include border-radius(3px);

  margin-top: 10px;
  margin-left: 10px;

  a {
    display: block;
    position: relative;
    @include gradient-light(true);
    width: 28px;
    height: 28px;
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  .leaflet-control {
    display: block;
    margin: 0;
    border: 1px solid #dcdde9;
    @include shadow;
    @include border-radius(4px);
  }

  .leaflet-control-put-marker {
    margin: 10px 0 8px -1px;
    @include box-shadow(none);
    border: 0;
    &, &:hover {
      width: 33px;
      height: 40px;
      background: transparent;
      background-image: image-url('put-marker.png');
    }
  }
  &.has-marker .leaflet-control-put-marker {
    background-image: image-url('put-marker-inactive.png');
    &:hover {
      background-image: image-url('put-marker.png');
    }
  }

  .leaflet-control-my-location {
    margin-bottom: 8px;
    position: relative;
    &:after {
      background-image: image-url('my-location.png');
      background-position-y: 4px;
    }
  }

  .leaflet-control-zoom-in, .leaflet-control-zoom-out {
    text-indent: -100px;
    overflow: hidden;
  }

  .leaflet-control-zoom-in {
    height: 23px;
    border-bottom: 1px solid #dcdde9;
    &:after {
      background-image: image-url('zoom-in.png');
    }
  }
  .leaflet-control-zoom-out {
    height: 23px;
    &:after {
      background-image: image-url('zoom-out.png');
    }
  }
}




.leaflet-control-layers-toggle {
  background-image: image-url('layers.png');
}

.leaflet-control.leaflet-control-layers  {
  margin-right: 18px;
  margin-top: 8px;
  background: transparent;
  padding: 0;
  @include box-shadow(none);
  @include border-radius(0);
  .leaflet-control-layers-base {
    @include clearfix;
    label {
      display: block;
      float: right;
      input[type="radio"] {
        display: none;
      }
      span {
        display: block;
        width: 94px;
        height: 28px;
        @include font-small;
        line-height: 28px;
        text-align: center;
        border: 1px solid #dcdde9;
        border-left-width: 0;
        @include gradient-light(true);
        @include shadow;
        color: $black;
        cursor: pointer;
      }
      &:first-child span {
        @include border-radius(0 2px 2px 0);
      }
      &:last-child span {
        border-left-width: 1px;
        @include border-radius(2px 0 0 2px);
      }
      input[type="radio"]:checked + span {
        color: white;
        @include background(linear-gradient(#5b5757, #a7a6a6));
      }
    }
  }
}

.leaflet-control.leaflet-control-attribution {
  margin-right: 5px;
  margin-bottom: 5px;
}

.leaflet-popup {
  .leaflet-popup-content-wrapper {
    padding: 0;
    @include border-radius(0);
    border: 1px solid #e4e5f1;
  }
  .leaflet-popup-content {
    margin: 24px 11px 20px;
  }
  .leaflet-popup-tip-container {
    position: absolute;
    right: 100%;
    margin: 0;
    bottom: 100px;
    margin-right: -1px;
    height: 9px;
    width: 20px;
    .leaflet-popup-tip {
      width: 5px;
      height: 5px;
      padding: 1px;
      margin: 0px 16px 0;
      border: 1px solid #e4e5f1;
    }
  }
  a.leaflet-popup-close-button {
    color: #9428b6;
    font-weight: normal;
    font-size: 21px;
    padding-right: 6px;
  }
}

