$map-width: 765px;
$map-height: 330px;

.objects-map__inner, .objects-map__content {
  width: $map-width;
  height: $map-height;
}

.objects-map__hint {
  position: relative;
  width: 260px;
  height: 15px;
  background: image-url('hint-put-marker.png') left top no-repeat;
  z-index: 1;
}
.objects-map__hint-arrow {
  position: absolute;
  width: 51px;
  height: 51px;
  background: image-url('icons/figure-arrow-left2.png');
  top: 100%;
  left: 100px;
}


.objects-map__inner {

  .smorodina-item {
    width: 155px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: $base-font;
    @include font-small;
    .smorodina-item__geo, .smorodina-item__coords {
      color: #282828;
      padding-left: 0;
    }
    .smorodina-item__img {
      position: static;
      float: none;
      margin: 0 0 13px;
    }
    .smorodina-item__title {
      @include font-regular;
      color: $black;
    }
  }
}


.location-selector__agu-search {
  .ui-autocomplete {
    z-index: 10000;
  }
}