$map-width: 765px;
$map-height: 330px;

.location-selector__map__outer, .location-selector__map__content {
  width: $map-width;
  height: $map-height;
}

.location-selector__map__inner {
  @include box-shadow(inset 0 0 0 5px rgba(white, 0.6));
}

.location-selector__map__content {
}

.location-selector__agu-search {
  .ui-autocomplete {
    z-index: 10000;
  }
}

.location-selector__map__inner {

  .smorodina-item {
    width: 155px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: $base-font;
    @include font-small;
    .smorodina-item__geo, .smorodina-item__coords {
      color: #282828;
      padding-left: 0;
    }
    .smorodina-item__img {
      position: static;
      float: none;
      margin: 0 0 13px;
    }
    .smorodina-item__title {
      @include font-regular;
      color: $black;
    }
  }
}

