@import "base";

body {
  color: #282828;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  min-width: 768px;
}

small {
  font-size: 13px;
  font-weight: 400;
}

/* ---------------------------------------- LINKS START ----------------------------------------- */

a, .action-link {
  @include transition(color 0.25s linear);
}

a:link {
  color: inherit;
}

a:visited {
  color: #609;
}

a:hover, .action-link:hover {
  color: $linkcolor;
}

a:hover {
  text-decoration: underline;
}

.action-link {
  border-bottom: 1px dotted;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.ui-link:visited {
  color: inherit;
}

/* ---------------------------------------- LINKS END ------------------------------------------- */