@import "base";

body {
  color: #282828;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  min-width: 768px;
  padding-bottom: 50px;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

small {
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

.page-header {
  text-align: center;
  margin-bottom: 30px;
}

/* ---------------------------------------- LINKS START ----------------------------------------- */

a, .action-link {
  @include transition(color 0.25s linear);
}

a:link {
  color: inherit;
}

a:visited {
  color: #609;
}

a:hover, .action-link:hover {
  color: $linkcolor;
}

a:hover, .tdn-link:hover {
  text-decoration: underline;
}

.action-link {
  border-bottom: 1px dotted;
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 1.2;
}

.ui-link:visited {
  color: inherit;
}

.tdn-link {
  text-decoration: none;
}

.user-link {
  padding-left: 20px;
  position: relative;
  display: inline-block;
  font-size: 13px;
}

.user-link__icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
}

/* ---------------------------------------- LINKS END ------------------------------------------- */