@import "base";

body {
  color: #282828;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  min-width: 768px;
  padding-bottom: 50px;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

small {
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

.page-header {
  text-align: center;
  margin-bottom: 30px;
}

/* ---------------------------------------- LINKS START ----------------------------------------- */

a, .action-link {
  @include transition(color 0.25s linear);
}

a:link {
  color: inherit;
}

a:visited {
  color: #609;
}

a:hover, .action-link:hover {
  color: $linkcolor;
}

a:hover, .tdn-link:hover {
  text-decoration: underline;
}

.action-link {
  border-bottom: 1px dotted;
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 1.2;
}

.ui-link:visited {
  color: inherit;
}

.tdn-link {
  text-decoration: none;
}

.user-link {
  padding-left: 16px;
  position: relative;
  display: inline-block;
  font-size: 13px;
}

.user-link__icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

/* ---------------------------------------- LINKS END ------------------------------------------- */

.promo-panel {
  text-align: center;
  @include background-image(linear-gradient(bottom, #474747, #232323));
  margin-bottom: 30px;
}

.promo-panel__inner {
  padding: 15px 0;
  @include background-image-retina("smNoise", 64px, 64px);
}

.promo-panel__text {
  vertical-align: middle;
  color: #fff;
  font-size: 18px;
}

.promo-panel__text b {
  font-weight: 800;
}

.promo-panel__greeting {
  margin-bottom: 10px;
}

.promo-panel__button {
  vertical-align: middle;
  margin-left: 20px;
}

.main {
  max-width: 1400px;
  margin: auto;
}

.main__inner {
  padding: 0 30px;
}

.slogan-user-panel-container {
  margin-bottom: 5px;
  padding: 0 16px 0 60px;
}

.slogan {
  display: inline-block;
  color: $lightgrey;
}

.user-panel {
  @include opposite;
  font-size: 13px;
}

.user-panel__login {
  position: relative;
  display: inline-block;
  margin-left: 30px;
}

.user-panel__login,
.user-panel__login > a:hover {
  color: #660099;
}

.user-panel__account:after {
  content: "";
  width: 0; height: 0;
  position: absolute;
  top: 50%; left: 100%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  margin: -1px 0 0 4px;
}

.user-panel__login__icon {
  position: absolute;
  left: -20px; top: 50%;
}

.user-panel__login__icon {
  margin-top: -6px;
}

.control-panel {
  @include border-radius(13px);
  @include box-shadow(inset 0 -1px rgba(255,255,255,0.75),0 10px 13px 0px rgba(43,41,7,0.2));
  @include background-image(linear-gradient(top, rgba(255,255,255,1) 20%,rgba(240,240,240,1) 100%));
  border: solid 1px #e4e5f1;
  border-bottom: solid 4px #9d9fac;
  height: 60px;
  padding: 0 15px;
  margin-bottom: 40px;
  font-size: 0;
  position: relative;
}

.control-panel__logo {
  display: inline-block;
  position: relative; top: -3px;
  vertical-align: top;
  margin-right: 15px;
  @include background-image-svg("logo2");

  @include respond-to(large-screen){
    width: 212px;
    top: 2px;
  }
}

.control-panel__menu {
  display: inline-block;
  vertical-align: top;
}

.control-panel__menu > a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 1px 1px 0 #fff;
  position: relative;
  text-align: center;
}

.control-panel__menu > a.selected {
  @include background-image(linear-gradient(bottom, #474747, #232323));
  color: #fff;
  text-shadow: none;
  text-decoration: none;
  cursor: default;
}

.control-panel__menu__triangle {
  width: 100%; height: 4px;
  position: absolute; top: 100%; left: 0;
  background-color: #28292b;
  display: none;
}

.control-panel__menu__triangle:after,
.control-panel__menu__triangle:before {
  content: "";
  width: 0; height: 0;
  position: absolute;
  top: 100%; left: 50%;
}

.control-panel__menu__triangle:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid rgb(71, 71, 71);
  margin: -5px 0 0 -20px;
}

.control-panel__menu__triangle:before {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #28292b;
  margin: 0px 0 0 -20px;
}

.control-panel__menu > a.selected > .control-panel__menu__triangle {
  display: block;
}

.control-panel__info-section {
  height: 60px;
  line-height: 60px;
  float: right;
  font-size: 14px;
  margin-bottom: 10px;

  @include respond-to(large-screen){
    display: none;
  }
}

.control-panel__info-section__link {
  margin-right: 6px;
}

.control-panel__social-block {

}

.control-panel__social-block__link {
  text-decoration: none;

  @include respond-to(large-screen){
    display: block;
    margin-top: 10px;
  }
}

.control-panel__social-block__link__icon {
  margin-right: 6px;
  vertical-align: middle;
}

.control-panel__social-block__link__text {
  text-decoration: underline;
  display: none;

  @include respond-to(large-screen){
    display: inline;
  }
}

.control-panel__info-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  height: 60px;
  border-left: 1px solid #e4e5f1;
  @include box-shadow(inset 1px 0 0 0 #fff);
  cursor: pointer;
  display: none;

  @include respond-to(large-screen){
    display: block;
  }
}

.control-panel__info-button__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -10px;
}

.promo-description {
  margin: 0 0 40px -40px;
  clear: both;
}

.promo-description__inner {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.promo-description__container {
  float: left;
  width: 100%;
  position: relative;
}

.promo-description__container_3 {

}

.promo-description__container_2 {
  right: 33.3333%;
}

.promo-description__container_1 {
  right: 33.3333%;
}

.promo-description__container > .promo-description__container:after {
  content: "";
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  @include background-image(linear-gradient(top, rgba(134,217,247,0) 0%, rgba(134,217,247,1) 50%, rgba(134,217,247,0) 100%));
}

.promo-description__column {
  float: left;
  width: 33.3333%;
  position: relative;
  left: 66.6666%;
}

.promo-description__column__inner {
  padding-left: 40px;
  position: relative;
}

.promo-description__title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
  letter-spacing: -1px;
}

.promo-description__text {

}

.main-search {
  width: 90%;
  margin: auto;
  clear: both;
  padding-bottom: 40px;
  position: relative;
  z-index: 2;
}

.main-search__inner {
  width: 100%;
  display: table;
}

.main-search__column {
  width: 0;
  display: table-cell;
  vertical-align: top;
}

.how-to-search, .how-to-search:after {
  background: image-url('how-to-search.png');  ;
}

.how-to-search {
  width: 177px;
  height: 56px;
  margin-right: 10px;
  @include transition(width 0.5s cubic-bezier(0.1,0.3,0,1));
}

.how-to-search:after {
  content: "\00a0";
  background-position: bottom left;
  width: 177px;
  height: 73px;
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: 1;
}

.how-to-search_hidden {
  overflow: hidden;
  position: relative;
  height: 0;
  width: 0;
}

.main-search__field {
  text-align: center;
  width: 100%;
}

.main-search__field__input {
  display: inline-block;
  height: 50px;
  padding: 10px 20px;
  font-size: 18px;
  color: #555555;
  vertical-align: middle;
  @include border-radius(40px);
  @include box-shadow(inset 2px 2px 3px rgb(213, 213, 213));
  @include transition(all 0.5s ease-in-out);
  @include box-sizing(border-box);
  border: solid 4px #faaf40;
  width: 100%;
}

.main-search__field__input:focus {
  outline: 0;
  @include box-shadow(inset 2px 2px 3px rgb(213, 213, 213), 0 0 13px rgb(250, 175, 64));
}

.main-search__button {
  font-size: 18px;
  width: 120px;
  margin-left: 15px;
}

.main-search__button > .button__inner {
  height: 20px;
  padding: 12px 20px;
}

.main-search__field__panel {
  color: $lightgrey;
  margin-top: 8px;
  padding: 0 10px;
}

.main-search__field__panel__example {
  margin-right: 30px;
}

.main-search__field__panel__example__text:after,
.main-search__field__panel__history__text:after {
  content: "";
  width: 0; height: 0;
  position: absolute;
  top: 50%; left: 100%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  margin: -1px 0 0 4px;
}

.main-search__field__panel__history {
  position: relative;
  display: inline-block;
  padding-left: 16px;
}

.main-search__field__panel__history_icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
}

.search-filter {
  background-color: #fff;
  @include box-shadow(0 15px 15px rgba(0, 0, 0, 0.35));
  position: relative;
  z-index: 1;
}

.search-filter__inner {
  min-height: 70px;
  border: solid 1px #e4e5f1;
  @include border-radius(10px 10px 0 0);
}

.map__outer {
  position:relative; z-index: 0;
  @include box-shadow(rgba(0, 0, 0, 0.1) 0 5px 20px 0);
  margin-bottom: 25px;
}

.map__outer:before,
.map__outer:after {
  content:"";
  position:absolute;
  bottom:15px;
  left:5px;
  width:50%;
  height:20%;
  max-width:300px;
  max-height:100px;
  @include box-shadow(rgba(0, 0, 0, 0.2) 0 15px 15px 0);
  @include rotate(-5deg);
}

.map__outer:after {
  right:5px;
  left:auto;
  @include rotate(5deg);
}

.map__inner {
  padding: 5px;
  background:#fff;
  position: relative;
  z-index: 1;
}

.map {
  height: 500px;
}

/* ---------------------------------------- FOOTER START ---------------------------------------- */

.footer {
  background-color: #fff;
  border: solid 1px #e4e5f1;
  @include border-radius(10px);
}

.footer__inner {
  padding: 20px 30px;
}

.footer__copyright {
  margin-bottom: 10px;
}

.footer__copyright-description {
  color: $lightgrey;
}

.footer__menu > li {
  margin-top: 10px;
}

.footer__menu > li:first-child {
  margin-top: 0;
}

.footer__social-block {
  text-align: right;
}

/* ---------------------------------------- FOOTER END ------------------------------------------ */

/* ---------------------------------------- CHRONICLE START ------------------------------------- */

.chronicle {
  padding: 0 30px;
}

.chronicle__search {
  text-align: center;
  margin-bottom: 40px;
}

.chronicle__search__field {
  margin-left: 50px;
  display: inline-block;
}

.chronicle__search__field:first-child {
  margin-left: 0;
}

.chronicle__search__field__label {
  margin-right: 10px;
}

.chronicle__search__field__input {
  width: 280px;
  padding: 5px 15px;
  height: 20px;
  line-height: 20px;
  @include border-radius(20px);
  @include box-shadow(inset 2px 2px 3px #D5D5D5);
  border: 1px solid #CFCFCF;
}

.chronicle__search__field__input:focus {
  outline: none;
}

.chronicle__section {
  margin-bottom: 40px;
}

.chronicle__section__header {
  position: relative;
  overflow: hidden;
  line-height: 1.1;
  margin: 0 0 30px 0;
}

.chronicle__section__header:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 100%;
  height: 1px;
  vertical-align: bottom;
  background: #e6e7e8;
  left: 10px;
  margin: 0 -100% 0 0;
}

.chronicle__section__row {
  border-top: 1px dotted #e6e7e8;
  padding-top: 20px;
  margin-top: 20px;
}

.chronicle__section__row:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}

.chronicle__footer {
  text-align: center;
  overflow: hidden;
}

.chronicle__footer__refresh-icon {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.chronicle__footer__refresh-icon:before,
.chronicle__footer__refresh-icon:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  background: #e6e7e8;
}

.chronicle__footer__refresh-icon:before {
  left: -60px;
  margin: 0 0 0 -50%;
}

.chronicle__footer__refresh-icon:after {
  left: 60px;
  margin: 0 -50% 0 0;
}

.smorodina-item {
}

.smorodina-item:before,
.smorodina-item:after {
  content: " ";
  display: table;
}

.smorodina-item:after {
  clear: both;
}

.smorodina-item__img {
  margin-right: 20px;
  position:relative;
  float:left;
}

.smorodina-item__img_shadow {
  @include box-shadow(rgba(0, 0, 0, 0.1) 0 2px 6px 0);
}

.smorodina-item__img_shadow:before,
.smorodina-item__img_shadow:after {
  content:"";
  position:absolute;
  bottom:15px;
  left:3px;
  width:50%;
  height:20%;
  max-width:300px;
  max-height:100px;
  @include box-shadow(rgba(0, 0, 0, 0.4) 0 15px 10px 0);
  @include rotate(-5deg);
}

.smorodina-item__img_shadow:after {
  right:3px;
  left:auto;
  @include rotate(5deg);
}

.smorodina-item__img_shadow > .smorodina-item__img__inner {
  padding: 5px;
}

.smorodina-item__img__inner {
  background:#fff;
  position: relative;
  z-index: 1;
}

.smorodina-item__img__inner > img {
  display: block;
}

.smorodina-item__content {
  display: table;
}

.smorodina-item__title {
  margin: 0 0 10px 0;
}

.smorodina-item__tags,
.smorodina-item__geo {
  color: $lightgrey;
  padding-left: 18px;
  position: relative;
  margin-bottom: 10px;
}

.smorodina-item__tags__icon,
.smorodina-item__geo__icon {
  position: absolute;
}

.smorodina-item__tags__icon {
  top: 5px;
  left: 0;
}

.smorodina-item__geo__icon {
  top: 3px;
  left: 3px;
}

.smorodina-item__user__text {
  color: $lightgrey;
  margin-right: 5px;
}

/* ---------------------------------------- CHRONICLE END --------------------------------------- */

.nested_comments {
  margin-left: 30px;
}