.obj_descr{
  padding: 0px 30px;
}


.obj_descr__info{
  @include clearfix;
  margin: 27px 0 50px 0;
}

.obj_descr__info__photo{
  float: left;
  width: 745px;
  img{
    display: block;
    float: left;
    margin: 0 0px 4px 0;
    &.main{
      margin: 0 4px 0 0;
    }
  }
}

.obj_descr__info__links{
  margin-left: 38px;
  float: left;
}

.obj_descr__info__links__rate{
  h3{
    margin: 0px 0 24px 0; 
  }
}

.obj_descr__info__links__planner{
  margin: 0 0 15px 2px;
}

.obj_descr__info__links__print{
  margin: 0 0 34px 2px;
}

.obj_descr__info__links__social{
  margin: 0 0 46px 7px;
}
  
.obj_descr__text{
  @include clearfix;
  margin-bottom: 57px;
}
    
.obj_descr__text__vote_stats{
  width: 240px;
  text-align: center;
  float: left;
  margin-right: 64px;
}

.obj_descr__text__vote_stats__value{
  border: 1px solid $siteLightGray;
  @include border-radius($baseBorderRadius);
  margin-bottom: 28px;
}

.obj_descr__text__vote_stats__value__title{
  h3{
    margin: 30px 0px 26px 0;
  }
}

.obj_descr__text__vote_stats__value__item{
  margin: 0px 45px 28px 45px;
  p{
    font-weight: bold;
    margin: 0px;
    @include font-small;
  }
}
    
.obj_descr__text__descr{
  float: left;
}


.obj_descr__text__descr__location,
.obj_descr__text__descr__time,
.obj_descr__text__descr__organizations{
  &:before{
    width: 38px;
    @include font-large;
    display: inline-block;
  }
}
.obj_descr__text__descr__location{
  margin: 0 0 16px 0;
}
.obj_descr__text__descr__time{
  margin: 0 0 24px 0;
}

.obj_descr__text__descr__organizations{
  margin: 0 0 35px 0;
}

.obj_descr__text__descr__body__full_link{
  margin: 17px 0 20px 0;
  a{
    @include font-small;
    color: $lightblue;
  }
}

.obj_descr__text__descr__adder{
  .smorodina-item__user,
  .obj_descr__text__descr__adder__edit,
  .obj_descr__text__descr__adder__history,
  .obj_descr__text__descr__adder__spam{
    display: inline-block;
  }
}

.obj_descr__text__descr__adder{
  .obj_descr__text__descr__adder__edit,
  .obj_descr__text__descr__adder__history,
  .obj_descr__text__descr__adder__spam{
    @include before-gray-dot;
    a{
      text-decoration: none;
      color: $siteGray;
      &:hover{
        color: $lightblue;
      }
      &:visited{
        color: $siteGray;
        &:hover{
          color: $lightblue;
        }
      }
    }
  }
}
.obj_descr__text__descr__how_to_reach{
  @include font-xlarge;
  margin: 42px 0 0 0;
}

.obj_descr__responces__responce{
  @include clearfix;
}

.obj_descr__responces__responce__author{
  float: left;
  width: 223px;
}

.obj_descr__responces__responce__author__avatar{
  float: left;
  width: 64px;
  img{
    @include border-radius(32px);
  }
}

.obj_descr__responces__responce__author__name{
  float: left;
  width: 155px;
}

.obj_descr__responces__responce__text{
  float: left;
  width: 710px;
}
