.obj_descr{
  padding: 0px 30px;
}


.obj_descr__info{
  @include clearfix;
  margin: 27px 0 50px 0;
}

.obj_descr__info__photo{
  float: left;
  width: 745px;
  img{
    display: block;
    float: left;
    margin: 0 0px 4px 0;
    &.main{
      margin: 0 4px 0 0;
    }
  }
}

.obj_descr__info__links{
  margin-left: 38px;
  float: left;
}

.obj_descr__info__links__rate{
  h3{
    margin: 0px 0 24px 0; 
  }
}

.obj_descr__info__links__planner{
  margin: 0 0 15px 2px;
}

.obj_descr__info__links__print{
  margin: 0 0 34px 2px;
}

.obj_descr__info__links__social{
  margin: 0 0 46px 7px;
}
  
.obj_descr__text{
  @include clearfix;
  margin-bottom: 57px;
}
    
.obj_descr__text__vote_stats{
  width: 240px;
  text-align: center;
  float: left;
  margin-right: 64px;
}

.obj_descr__text__vote_stats__value{
  border: 1px solid $siteLightGray;
  @include border-radius($baseBorderRadius);
  margin-bottom: 28px;
}

.obj_descr__text__vote_stats__value__title{
  h3{
    margin: 30px 0px 26px 0;
  }
}

.obj_descr__text__vote_stats__value__item{
  margin: 0px 45px 28px 45px;
  p{
    font-weight: bold;
    margin: 0px;
    @include font-small;
  }
}
    
.obj_descr__text__descr{
  float: left;
}


.obj_descr__text__descr__location,
.obj_descr__text__descr__time,
.obj_descr__text__descr__organizations{
  &:before{
    width: 38px;
    @include font-large;
    display: inline-block;
  }
}
.obj_descr__text__descr__location{
  margin: 0 0 16px 0;
}
.obj_descr__text__descr__time{
  margin: 0 0 24px 0;
}

.obj_descr__text__descr__organizations{
  margin: 0 0 35px 0;
}

.obj_descr__text__descr__body__full_link{
  margin: 17px 0 20px 0;
  a{
    @include font-small;
    color: $lightblue;
  }
}

.obj_descr__text__descr__adder{
  .smorodina-item__user,
  .obj_descr__text__descr__adder__edit,
  .obj_descr__text__descr__adder__history,
  .obj_descr__text__descr__adder__spam{
    display: inline-block;
  }
}

.obj_descr__text__descr__adder{
  .obj_descr__text__descr__adder__edit,
  .obj_descr__text__descr__adder__history,
  .obj_descr__text__descr__adder__spam{
    @include before-gray-dot;
    a{
      text-decoration: none;
      color: $siteGray;
      &:hover{
        color: $lightblue;
      }
      &:visited{
        color: $siteGray;
        &:hover{
          color: $lightblue;
        }
      }
    }
  }
}
.obj_descr__text__descr__how_to_reach{
  margin: 42px 0 0 0;
  min-width: 640px;
  position: relative;
  .runtip_switcher{
    @include font-xlarge;
  }
    
}

.obj_descr__text__descr__how_to_reach__spinner{
  position: absolute;
  left: 0px;
  top: 100px;
  display: none;
  width: 100%;
  height: 100px;
}

          
.obj_descr__text__descr__how_to_reach__list__container{
}

.obj_descr__text__descr__how_to_reach__list{
  margin-top: 27px;
}
        
.obj_descr__text__descr__how_to_reach__list__add{
  margin: 27px 0 0 21px;
  @include clearfix;
}

.obj_descr__text__descr__how_to_reach__list__record{
  border-top: 1px solid $siteLightGray;
  @include font-small;
}

.obj_descr__text__descr__how_to_reach__list__record__author{
  a{
    font-weight: bold;
  }
}
          
.obj_descr__text__descr__how_to_reach__list__author,
.obj_descr__text__descr__how_to_reach__list__record__author{
  margin-left: 20px;
  width: 185px;
}

.obj_descr__text__descr__how_to_reach__list__date,
.obj_descr__text__descr__how_to_reach__list__record__date{
  width: 255px;
}

.obj_descr__text__descr__how_to_reach__list__rate,
.obj_descr__text__descr__how_to_reach__list__record__rate{
  width: 170px;
}

.obj_descr__text__descr__how_to_reach__list__author,
.obj_descr__text__descr__how_to_reach__list__date,
.obj_descr__text__descr__how_to_reach__list__rate,
.obj_descr__text__descr__how_to_reach__list__record__author,
.obj_descr__text__descr__how_to_reach__list__record__date,
.obj_descr__text__descr__how_to_reach__list__record__rate,
.obj_descr__text__descr__how_to_reach__list__record__description__actions__is_correct,
.obj_descr__text__descr__how_to_reach__list__record__description__actions__vote,
.obj_descr__text__descr__how_to_reach__list__record__description__actions__spam{
  display: inline-block;
  padding: 19px 0 19px 0;
}
                  
.obj_descr__text__descr__how_to_reach__list__record__description{
  display: none;
}

.obj_descr__text__descr__how_to_reach__list__author,
.obj_descr__text__descr__how_to_reach__list__date,
.obj_descr__text__descr__how_to_reach__list__rate{
  padding: 11px 0 11px 0;
}

.obj_descr__text__descr__how_to_reach__list__record__description__actions__spam,
.obj_descr__responces__responce__text__actions__spam,
.pic_comments__comment__info__actions__spam{
  display: inline-block;
  @include before-gray-dot;
  a{
    color: $siteGray;
    text-decoration: none;
    &:visited{
      color: $siteGray;
    }
    &:hover{
      color: $lightblue;
    }
  }
}

.obj_descr__text__descr__how_to_reach__list__record__date,
.obj_descr__text__descr__how_to_reach__list__record__description__actions__is_correct{
  color: $siteGray;
}

.obj_descr__text__descr__how_to_reach__list__record__description__actions__is_correct{
  margin-right: 15px;
}


.obj_descr__responces{
  margin-left: 30px;
}

.obj_descr__responces__responce{
  @include clearfix;
  margin-left: 24px;
  margin-bottom: 46px;
}
.obj_descr__review__record{
  .pic_comments__count{
      &:after{
        border: 0;
      }
  }
  &.opened{
    .pic_comments__count{
      &:after{
        border-bottom: 1px solid $siteLightGray;
      }
    }
  }
}
    

.obj_descr__responces__responce__author{
  float: left;
  display: table;
  width: 223px;
  height: 64px;
}

.obj_descr__responces__responce__author__avatar{
  display: inline-block;
  width: 64px;
  margin-right: 13px;
  img{
    @include border-radius(32px);
  }
}

.obj_descr__responces__responce__author__name{
  display: table-cell;
  width: 140px;
  @include font-small;
  vertical-align: middle;
}

.obj_descr__responces__responce__text{
  float: left;
  width: 710px;
  border-left: 1px solid $siteLightGray;
  position: relative;
  z-index: 1;
  margin-left: 35px;
  &:before{
    content: "";
    display: block;
    @include size(25px, 24px);
    background-image: url('/assets/object-responce-bullet.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    left: -24px;
    top: 37px;
    z-index: 2;
  }
}
      
.obj_descr__responces__responce__text__padding{
  padding-left: 24px;
}

.obj_descr__responces__responce__text__title{
  display: inline-block;
  margin-right: 24px;
  font-weight: bold;
}

.obj_descr__responces__responce__text__date{
  display: inline-block;
  @include font-small;
  color: $siteGray;
}
      
.obj_descr__responces__responce__text__data{
  margin: 20px 0 30px 0;
}

.obj_descr__responces__responce__text__photos{
  line-height: 70px;
  .more_link{
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
    a{
      @include font-small;
      color: $lightblue;
      .count{
        font-weight: bold;
      }
    }
  }
}
        
.obj_descr__responces__responce__text__actions__respond{
  display: inline-block;
}
        
.obj_descr__responces__responce__text__actions__comments_count{
  @include before-gray-dot;
  display: inline-block;
  vertical-align: bottom;
  a{
    color: $lightblue;
    @include font-small;
    .count{
      font-weight: bold;
    }
    &.visited{
      color: $lightblue;
    }
  }
}
        
.obj_descr__responces__responce__text__actions__vote{
  @include before-gray-dot;
  display: inline-block;
  .simple_voting{
    display: inline-block;
  }
}
            
.obj_descr__responces__responce__text__actions__comments{
  .pic_comments{
    margin-left: 0px;
  }
  .pic_comments__add{
    overflow: hidden;
  }
  .pic_comments__add__controls{
    input{
      display: none;
    }
  } 

  .pic_comments__add__input{
    input{
      padding: 14px 14px;
    }
  }
}
      
.obj_descr__responces__responce__text__more{
  margin-top: 18px;
}
