@import "base";

/* ---------------------------------------- BUTTONS START --------------------------------------- */

/* common styles */

.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
}

.button:hover {
  text-decoration: none;
}

.button__inner {
  display: block;
}

.button__text {
  position: relative;
}

.button__text:before {
  content: attr(data-text);
  position: relative;
}

.button_full {
  display: block;
}

/* 3d styles */

.button_3d {
  @include border-radius(5px);
  font-size: 14px;
  font-weight: 700;
  border: none;
  margin-bottom: 4px; /* to compensate bottom box-shadow */
}

.button_3d__inner {
  @include background-image-retina("smFineNoise", 64px, 64px);
  padding: 10px 25px;
}

.button_3d__text {
  color: #ffffff;
  @include text-shadow(-1px -1px 0 rgba(0,0,0,0.5));
}

/* color themes */

.button_orange {
  @include background-image(linear-gradient(top, #e17604, #ffae01));
  @include box-shadow(0 4px #a65b02, inset 0 -1px rgba(255,255,255,0.25),0 12px 18px -6px rgb(43,41,7));
}

.button_violet {
  @include background-image(linear-gradient(top, #9428b6, #b667ce));
  @include box-shadow(0 4px #4f3067, inset 0 -1px rgba(255,255,255,0.25),0 12px 18px -6px rgb(43,41,7));
}

/* ---------------------------------------- BUTTONS END ----------------------------------------- */

/* ---------------------------------------- SORT CONTROL START ------------------------------- */

.sort-control {
  padding: 5px 10px;
  @include border-radius(3px);
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-right: 5px;
  border: solid 1px transparent;
}

.sort-control.selected {
  @include box-shadow(0 1px #fff, inset 0 1px 1px #fff);
  border-color: $lightgrey;
  @include background-image(linear-gradient(top, #feffff, #ebebeb));
}

.sort-control.selected > .sort-control__text {
  border-bottom-color: transparent;
  color: $black;
}

.sort-control__arrow {
  position: relative;
  display: inline-block;
}

.sort-control.selected > .sort-control__arrow:after {
  content:"\2191";
  font-size: 18px;
  position: absolute;
  right: -4px;
  top: 50%;
  margin-top: -0.75em;
}

.sort-control.selected.desc >.sort-control__arrow:after {
  content:"\2193";
}

.sort-control__triangle {
  width: 100%;
  position: absolute; top: 100%; left: 0;
  display: none;
}

.sort-control__triangle:after,
.sort-control__triangle:before {
  content: "";
  width: 0; height: 0;
  position: absolute;
  top: 100%; left: 50%;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-left: -6px;
}

.sort-control__triangle:after {
  border-top: 8px solid #ebebeb;
  margin-top: -1px;
}

.sort-control__triangle:before {
  border-top: 8px solid #e4e5f1;
}

.sort-control.selected > .sort-control__triangle {
  display: block;
}

/* ---------------------------------------- BUTTONS END ----------------------------------------- */
