%h1 Listing images

%table
  %tr
    %th Image
    %th

  - @images.each do |image|
    %tr
      %td=image_tag image.image_url(:thumb)
      %td= link_to 'show', geo_object_image_path(@geo_object, image)

