%div#searchResultsFetch.fetch-results
  %div.fetch-results__refresh-icon
    %span.icon.icon-circle-arrows
  %div.fetch-results__button
    %a.button.button_3d.button_orange{ href: "#" }
      %span.button__inner.button_3d__inner
        %span.button__text.button_3d__text{ data: { text: "Еще результаты" }}