%div.footer
  %div.footer__inner
    %div.row-fluid
      %div.span6
        %div.footer__copyright
          &copy; 2013 Смородина
        %div.footer__copyright-description
          Текст об условиях использования контента сайта и материалов пользователей,
          политика конфиденциальности, об отсутствии ответственности за качество,
          цены и прочих партнерских сервисов
      %div.span4
        %ul.footer__menu
          %li
            %a{href: "#"}
              Контактная информация
          %li
            %span.action-link
              Обратная связь
          %li
            %a{href: "#"}
              Карта сайта
      %div.span2.footer__social-block
        =image_tag "tmp/vk.png"
        =image_tag "tmp/fb.png"
        =image_tag "tmp/tw.png"
        =image_tag "tmp/g.png"
