%div.promo-description
  %div.promo-description__inner
    %div.promo-description__container.promo-description__container_3
      %div.promo-description__container.promo-description__container_2
        %div.promo-description__container.promo-description__container_1
          %div.promo-description__column
            %div.promo-description__column__inner
              %div.promo-description__title
                Узнавай
              %span.promo-description__text
                Найди на Смородине места, которых нет в путеводителях, о которых знают
                только местные жители. Искать легко через поисковую строку или сразу на карте.
          %div.promo-description__column
            %div.promo-description__column__inner
              %div.promo-description__title
                Рассказывай
              %span.promo-description__text
                Поделись знаниями о стране, о родном крае. Твоя родина очень большая и все,
                кто ищет информацию на Смородине, будут тебе благодарны за помощь —
                выкладывай фотографии и описывай интересные объекты.
          %div.promo-description__column
            %div.promo-description__column__inner
              %div.promo-description__title
                Путешествуй
              %span.promo-description__text
                Узнавать страну можно не только на Смородине. Отправляйся в путешествие и
                посмотри своими глазами нам мир вокруг. Система планирования путешествий
                поможет разработать подробную программу поездки.
