%div.promo-panel
  %div.promo-panel__inner
    - if greeting
      %div.promo-panel__text.promo-panel__greeting
        Добро пожаловать в Смородину — путеводитель по родной стране, созданный ее жителями!
    %span.promo-panel__text
      Всего в Смородине
      %b{id: 'objectsTotal'} >9000
      объектов
    %a.button.button_3d.button_orange.promo-panel__button{ href: new_geo_object_path }
      %span.button__inner.button_3d__inner
        %span.button__text.button_3d__text{ data: { text: "Добавить объект" }}
